<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.unionpay.withhold.admin.mapper.TChnlDetaMapper" >
  <resultMap id="BaseResultMap" type="com.unionpay.withhold.admin.bean.TChnlDeta" >
    <id column="CHNLID" property="chnlid" jdbcType="VARCHAR" />
    <result column="CHNLCODE" property="chnlcode" jdbcType="VARCHAR" />
    <result column="CHNLNAME" property="chnlname" jdbcType="VARCHAR" />
    <result column="INSTICODE" property="insticode" jdbcType="VARCHAR" />
    <result column="CHNLTYPE" property="chnltype" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="VARCHAR" />
    <result column="URL" property="url" jdbcType="VARCHAR" />
    <result column="BMK" property="bmk" jdbcType="VARCHAR" />
    <result column="MACKEY" property="mackey" jdbcType="VARCHAR" />
    <result column="PINKEY" property="pinkey" jdbcType="VARCHAR" />
    <result column="DATAKEY" property="datakey" jdbcType="VARCHAR" />
    <result column="ENCODE" property="encode" jdbcType="VARCHAR" />
    <result column="NOTES" property="notes" jdbcType="VARCHAR" />
    <result column="REMARKS" property="remarks" jdbcType="VARCHAR" />
    <result column="FRONTURL" property="fronturl" jdbcType="VARCHAR" />
    <result column="BACKURL" property="backurl" jdbcType="VARCHAR" />
    <result column="SAFEURL" property="safeurl" jdbcType="VARCHAR" />
    <result column="CHNLMERCHNO" property="chnlmerchno" jdbcType="VARCHAR" />
    <result column="IMPL" property="impl" jdbcType="VARCHAR" />
    <result column="REFUND_IMPL" property="refundImpl" jdbcType="VARCHAR" />
    <result column="limitnum" property="limitnum" jdbcType="DECIMAL" />
    <result column="limitamt" property="limitamt" jdbcType="DECIMAL" />
    <result column="TRADEELEMENT" property="tradeelement" jdbcType="CHAR" />
    <result column="CHKFILEURL" property="chkfileurl" jdbcType="CHAR" />
    <result column="CHKFILGETTYPE" property="chkfilgettype" jdbcType="CHAR" />
    <result column="CFFTPUSER" property="cfftpuser" jdbcType="CHAR" />
    <result column="CFFTPPWD" property="cfftppwd" jdbcType="CHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    CHNLID, CHNLCODE, CHNLNAME, INSTICODE, CHNLTYPE, STATUS, URL, BMK, MACKEY, PINKEY, 
    DATAKEY, ENCODE, NOTES, REMARKS, FRONTURL, BACKURL, SAFEURL, CHNLMERCHNO, IMPL, REFUND_IMPL, 
    limitnum, limitamt, TRADEELEMENT, CHKFILEURL, CHKFILGETTYPE, CFFTPUSER, CFFTPPWD
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.unionpay.withhold.admin.bean.TChnlDetaExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_chnl_deta
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_chnl_deta
    where CHNLID = #{chnlid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_chnl_deta
    where CHNLID = #{chnlid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.unionpay.withhold.admin.bean.TChnlDetaExample" >
    delete from t_chnl_deta
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.unionpay.withhold.admin.bean.TChnlDeta" >
    insert into t_chnl_deta (CHNLID, CHNLCODE, CHNLNAME, 
      INSTICODE, CHNLTYPE, STATUS, 
      URL, BMK, MACKEY, PINKEY, 
      DATAKEY, ENCODE, NOTES, 
      REMARKS, FRONTURL, BACKURL, 
      SAFEURL, CHNLMERCHNO, IMPL, 
      REFUND_IMPL, limitnum, limitamt, 
      TRADEELEMENT, CHKFILEURL, CHKFILGETTYPE, 
      CFFTPUSER, CFFTPPWD)
    values (#{chnlid,jdbcType=VARCHAR}, #{chnlcode,jdbcType=VARCHAR}, #{chnlname,jdbcType=VARCHAR}, 
      #{insticode,jdbcType=VARCHAR}, #{chnltype,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, 
      #{url,jdbcType=VARCHAR}, #{bmk,jdbcType=VARCHAR}, #{mackey,jdbcType=VARCHAR}, #{pinkey,jdbcType=VARCHAR}, 
      #{datakey,jdbcType=VARCHAR}, #{encode,jdbcType=VARCHAR}, #{notes,jdbcType=VARCHAR}, 
      #{remarks,jdbcType=VARCHAR}, #{fronturl,jdbcType=VARCHAR}, #{backurl,jdbcType=VARCHAR}, 
      #{safeurl,jdbcType=VARCHAR}, #{chnlmerchno,jdbcType=VARCHAR}, #{impl,jdbcType=VARCHAR}, 
      #{refundImpl,jdbcType=VARCHAR}, #{limitnum,jdbcType=DECIMAL}, #{limitamt,jdbcType=DECIMAL}, 
      #{tradeelement,jdbcType=CHAR}, #{chkfileurl,jdbcType=CHAR}, #{chkfilgettype,jdbcType=CHAR}, 
      #{cfftpuser,jdbcType=CHAR}, #{cfftppwd,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.unionpay.withhold.admin.bean.TChnlDeta" >
    insert into t_chnl_deta
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="chnlid != null" >
        CHNLID,
      </if>
      <if test="chnlcode != null" >
        CHNLCODE,
      </if>
      <if test="chnlname != null" >
        CHNLNAME,
      </if>
      <if test="insticode != null" >
        INSTICODE,
      </if>
      <if test="chnltype != null" >
        CHNLTYPE,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="url != null" >
        URL,
      </if>
      <if test="bmk != null" >
        BMK,
      </if>
      <if test="mackey != null" >
        MACKEY,
      </if>
      <if test="pinkey != null" >
        PINKEY,
      </if>
      <if test="datakey != null" >
        DATAKEY,
      </if>
      <if test="encode != null" >
        ENCODE,
      </if>
      <if test="notes != null" >
        NOTES,
      </if>
      <if test="remarks != null" >
        REMARKS,
      </if>
      <if test="fronturl != null" >
        FRONTURL,
      </if>
      <if test="backurl != null" >
        BACKURL,
      </if>
      <if test="safeurl != null" >
        SAFEURL,
      </if>
      <if test="chnlmerchno != null" >
        CHNLMERCHNO,
      </if>
      <if test="impl != null" >
        IMPL,
      </if>
      <if test="refundImpl != null" >
        REFUND_IMPL,
      </if>
      <if test="limitnum != null" >
        limitnum,
      </if>
      <if test="limitamt != null" >
        limitamt,
      </if>
      <if test="tradeelement != null" >
        TRADEELEMENT,
      </if>
      <if test="chkfileurl != null" >
        CHKFILEURL,
      </if>
      <if test="chkfilgettype != null" >
        CHKFILGETTYPE,
      </if>
      <if test="cfftpuser != null" >
        CFFTPUSER,
      </if>
      <if test="cfftppwd != null" >
        CFFTPPWD,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="chnlid != null" >
        #{chnlid,jdbcType=VARCHAR},
      </if>
      <if test="chnlcode != null" >
        #{chnlcode,jdbcType=VARCHAR},
      </if>
      <if test="chnlname != null" >
        #{chnlname,jdbcType=VARCHAR},
      </if>
      <if test="insticode != null" >
        #{insticode,jdbcType=VARCHAR},
      </if>
      <if test="chnltype != null" >
        #{chnltype,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="bmk != null" >
        #{bmk,jdbcType=VARCHAR},
      </if>
      <if test="mackey != null" >
        #{mackey,jdbcType=VARCHAR},
      </if>
      <if test="pinkey != null" >
        #{pinkey,jdbcType=VARCHAR},
      </if>
      <if test="datakey != null" >
        #{datakey,jdbcType=VARCHAR},
      </if>
      <if test="encode != null" >
        #{encode,jdbcType=VARCHAR},
      </if>
      <if test="notes != null" >
        #{notes,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="fronturl != null" >
        #{fronturl,jdbcType=VARCHAR},
      </if>
      <if test="backurl != null" >
        #{backurl,jdbcType=VARCHAR},
      </if>
      <if test="safeurl != null" >
        #{safeurl,jdbcType=VARCHAR},
      </if>
      <if test="chnlmerchno != null" >
        #{chnlmerchno,jdbcType=VARCHAR},
      </if>
      <if test="impl != null" >
        #{impl,jdbcType=VARCHAR},
      </if>
      <if test="refundImpl != null" >
        #{refundImpl,jdbcType=VARCHAR},
      </if>
      <if test="limitnum != null" >
        #{limitnum,jdbcType=DECIMAL},
      </if>
      <if test="limitamt != null" >
        #{limitamt,jdbcType=DECIMAL},
      </if>
      <if test="tradeelement != null" >
        #{tradeelement,jdbcType=CHAR},
      </if>
      <if test="chkfileurl != null" >
        #{chkfileurl,jdbcType=CHAR},
      </if>
      <if test="chkfilgettype != null" >
        #{chkfilgettype,jdbcType=CHAR},
      </if>
      <if test="cfftpuser != null" >
        #{cfftpuser,jdbcType=CHAR},
      </if>
      <if test="cfftppwd != null" >
        #{cfftppwd,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.unionpay.withhold.admin.bean.TChnlDetaExample" resultType="java.lang.Integer" >
    select count(*) from t_chnl_deta
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_chnl_deta
    <set >
      <if test="record.chnlid != null" >
        CHNLID = #{record.chnlid,jdbcType=VARCHAR},
      </if>
      <if test="record.chnlcode != null" >
        CHNLCODE = #{record.chnlcode,jdbcType=VARCHAR},
      </if>
      <if test="record.chnlname != null" >
        CHNLNAME = #{record.chnlname,jdbcType=VARCHAR},
      </if>
      <if test="record.insticode != null" >
        INSTICODE = #{record.insticode,jdbcType=VARCHAR},
      </if>
      <if test="record.chnltype != null" >
        CHNLTYPE = #{record.chnltype,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        STATUS = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.url != null" >
        URL = #{record.url,jdbcType=VARCHAR},
      </if>
      <if test="record.bmk != null" >
        BMK = #{record.bmk,jdbcType=VARCHAR},
      </if>
      <if test="record.mackey != null" >
        MACKEY = #{record.mackey,jdbcType=VARCHAR},
      </if>
      <if test="record.pinkey != null" >
        PINKEY = #{record.pinkey,jdbcType=VARCHAR},
      </if>
      <if test="record.datakey != null" >
        DATAKEY = #{record.datakey,jdbcType=VARCHAR},
      </if>
      <if test="record.encode != null" >
        ENCODE = #{record.encode,jdbcType=VARCHAR},
      </if>
      <if test="record.notes != null" >
        NOTES = #{record.notes,jdbcType=VARCHAR},
      </if>
      <if test="record.remarks != null" >
        REMARKS = #{record.remarks,jdbcType=VARCHAR},
      </if>
      <if test="record.fronturl != null" >
        FRONTURL = #{record.fronturl,jdbcType=VARCHAR},
      </if>
      <if test="record.backurl != null" >
        BACKURL = #{record.backurl,jdbcType=VARCHAR},
      </if>
      <if test="record.safeurl != null" >
        SAFEURL = #{record.safeurl,jdbcType=VARCHAR},
      </if>
      <if test="record.chnlmerchno != null" >
        CHNLMERCHNO = #{record.chnlmerchno,jdbcType=VARCHAR},
      </if>
      <if test="record.impl != null" >
        IMPL = #{record.impl,jdbcType=VARCHAR},
      </if>
      <if test="record.refundImpl != null" >
        REFUND_IMPL = #{record.refundImpl,jdbcType=VARCHAR},
      </if>
      <if test="record.limitnum != null" >
        limitnum = #{record.limitnum,jdbcType=DECIMAL},
      </if>
      <if test="record.limitamt != null" >
        limitamt = #{record.limitamt,jdbcType=DECIMAL},
      </if>
      <if test="record.tradeelement != null" >
        TRADEELEMENT = #{record.tradeelement,jdbcType=CHAR},
      </if>
      <if test="record.chkfileurl != null" >
        CHKFILEURL = #{record.chkfileurl,jdbcType=CHAR},
      </if>
      <if test="record.chkfilgettype != null" >
        CHKFILGETTYPE = #{record.chkfilgettype,jdbcType=CHAR},
      </if>
      <if test="record.cfftpuser != null" >
        CFFTPUSER = #{record.cfftpuser,jdbcType=CHAR},
      </if>
      <if test="record.cfftppwd != null" >
        CFFTPPWD = #{record.cfftppwd,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_chnl_deta
    set CHNLID = #{record.chnlid,jdbcType=VARCHAR},
      CHNLCODE = #{record.chnlcode,jdbcType=VARCHAR},
      CHNLNAME = #{record.chnlname,jdbcType=VARCHAR},
      INSTICODE = #{record.insticode,jdbcType=VARCHAR},
      CHNLTYPE = #{record.chnltype,jdbcType=VARCHAR},
      STATUS = #{record.status,jdbcType=VARCHAR},
      URL = #{record.url,jdbcType=VARCHAR},
      BMK = #{record.bmk,jdbcType=VARCHAR},
      MACKEY = #{record.mackey,jdbcType=VARCHAR},
      PINKEY = #{record.pinkey,jdbcType=VARCHAR},
      DATAKEY = #{record.datakey,jdbcType=VARCHAR},
      ENCODE = #{record.encode,jdbcType=VARCHAR},
      NOTES = #{record.notes,jdbcType=VARCHAR},
      REMARKS = #{record.remarks,jdbcType=VARCHAR},
      FRONTURL = #{record.fronturl,jdbcType=VARCHAR},
      BACKURL = #{record.backurl,jdbcType=VARCHAR},
      SAFEURL = #{record.safeurl,jdbcType=VARCHAR},
      CHNLMERCHNO = #{record.chnlmerchno,jdbcType=VARCHAR},
      IMPL = #{record.impl,jdbcType=VARCHAR},
      REFUND_IMPL = #{record.refundImpl,jdbcType=VARCHAR},
      limitnum = #{record.limitnum,jdbcType=DECIMAL},
      limitamt = #{record.limitamt,jdbcType=DECIMAL},
      TRADEELEMENT = #{record.tradeelement,jdbcType=CHAR},
      CHKFILEURL = #{record.chkfileurl,jdbcType=CHAR},
      CHKFILGETTYPE = #{record.chkfilgettype,jdbcType=CHAR},
      CFFTPUSER = #{record.cfftpuser,jdbcType=CHAR},
      CFFTPPWD = #{record.cfftppwd,jdbcType=CHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.unionpay.withhold.admin.bean.TChnlDeta" >
    update t_chnl_deta
    <set >
      <if test="chnlcode != null" >
        CHNLCODE = #{chnlcode,jdbcType=VARCHAR},
      </if>
      <if test="chnlname != null" >
        CHNLNAME = #{chnlname,jdbcType=VARCHAR},
      </if>
      <if test="insticode != null" >
        INSTICODE = #{insticode,jdbcType=VARCHAR},
      </if>
      <if test="chnltype != null" >
        CHNLTYPE = #{chnltype,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        URL = #{url,jdbcType=VARCHAR},
      </if>
      <if test="bmk != null" >
        BMK = #{bmk,jdbcType=VARCHAR},
      </if>
      <if test="mackey != null" >
        MACKEY = #{mackey,jdbcType=VARCHAR},
      </if>
      <if test="pinkey != null" >
        PINKEY = #{pinkey,jdbcType=VARCHAR},
      </if>
      <if test="datakey != null" >
        DATAKEY = #{datakey,jdbcType=VARCHAR},
      </if>
      <if test="encode != null" >
        ENCODE = #{encode,jdbcType=VARCHAR},
      </if>
      <if test="notes != null" >
        NOTES = #{notes,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null" >
        REMARKS = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="fronturl != null" >
        FRONTURL = #{fronturl,jdbcType=VARCHAR},
      </if>
      <if test="backurl != null" >
        BACKURL = #{backurl,jdbcType=VARCHAR},
      </if>
      <if test="safeurl != null" >
        SAFEURL = #{safeurl,jdbcType=VARCHAR},
      </if>
      <if test="chnlmerchno != null" >
        CHNLMERCHNO = #{chnlmerchno,jdbcType=VARCHAR},
      </if>
      <if test="impl != null" >
        IMPL = #{impl,jdbcType=VARCHAR},
      </if>
      <if test="refundImpl != null" >
        REFUND_IMPL = #{refundImpl,jdbcType=VARCHAR},
      </if>
      <if test="limitnum != null" >
        limitnum = #{limitnum,jdbcType=DECIMAL},
      </if>
      <if test="limitamt != null" >
        limitamt = #{limitamt,jdbcType=DECIMAL},
      </if>
      <if test="tradeelement != null" >
        TRADEELEMENT = #{tradeelement,jdbcType=CHAR},
      </if>
      <if test="chkfileurl != null" >
        CHKFILEURL = #{chkfileurl,jdbcType=CHAR},
      </if>
      <if test="chkfilgettype != null" >
        CHKFILGETTYPE = #{chkfilgettype,jdbcType=CHAR},
      </if>
      <if test="cfftpuser != null" >
        CFFTPUSER = #{cfftpuser,jdbcType=CHAR},
      </if>
      <if test="cfftppwd != null" >
        CFFTPPWD = #{cfftppwd,jdbcType=CHAR},
      </if>
    </set>
    where CHNLID = #{chnlid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.unionpay.withhold.admin.bean.TChnlDeta" >
    update t_chnl_deta
    set CHNLCODE = #{chnlcode,jdbcType=VARCHAR},
      CHNLNAME = #{chnlname,jdbcType=VARCHAR},
      INSTICODE = #{insticode,jdbcType=VARCHAR},
      CHNLTYPE = #{chnltype,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=VARCHAR},
      URL = #{url,jdbcType=VARCHAR},
      BMK = #{bmk,jdbcType=VARCHAR},
      MACKEY = #{mackey,jdbcType=VARCHAR},
      PINKEY = #{pinkey,jdbcType=VARCHAR},
      DATAKEY = #{datakey,jdbcType=VARCHAR},
      ENCODE = #{encode,jdbcType=VARCHAR},
      NOTES = #{notes,jdbcType=VARCHAR},
      REMARKS = #{remarks,jdbcType=VARCHAR},
      FRONTURL = #{fronturl,jdbcType=VARCHAR},
      BACKURL = #{backurl,jdbcType=VARCHAR},
      SAFEURL = #{safeurl,jdbcType=VARCHAR},
      CHNLMERCHNO = #{chnlmerchno,jdbcType=VARCHAR},
      IMPL = #{impl,jdbcType=VARCHAR},
      REFUND_IMPL = #{refundImpl,jdbcType=VARCHAR},
      limitnum = #{limitnum,jdbcType=DECIMAL},
      limitamt = #{limitamt,jdbcType=DECIMAL},
      TRADEELEMENT = #{tradeelement,jdbcType=CHAR},
      CHKFILEURL = #{chkfileurl,jdbcType=CHAR},
      CHKFILGETTYPE = #{chkfilgettype,jdbcType=CHAR},
      CFFTPUSER = #{cfftpuser,jdbcType=CHAR},
      CFFTPPWD = #{cfftppwd,jdbcType=CHAR}
    where CHNLID = #{chnlid,jdbcType=VARCHAR}
  </update>
</mapper>