<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.unionpay.withhold.admin.mapper.TChnlCpqryLogMapper" >
  <resultMap id="BaseResultMap" type="com.unionpay.withhold.admin.pojo.TChnlCpqryLog" >
    <result column="TID" property="tid" jdbcType="CHAR" />
    <result column="merId" property="merid" jdbcType="CHAR" />
    <result column="transType" property="transtype" jdbcType="CHAR" />
    <result column="orderNo" property="orderno" jdbcType="CHAR" />
    <result column="transDate" property="transdate" jdbcType="CHAR" />
    <result column="version" property="version" jdbcType="CHAR" />
    <result column="priv1" property="priv1" jdbcType="CHAR" />
    <result column="responseCode" property="responsecode" jdbcType="CHAR" />
    <result column="transAmt" property="transamt" jdbcType="CHAR" />
    <result column="curyId" property="curyid" jdbcType="CHAR" />
    <result column="transStat" property="transstat" jdbcType="CHAR" />
    <result column="chnlRetDate" property="chnlretdate" jdbcType="CHAR" />
    <result column="message" property="message" jdbcType="CHAR" />
    <result column="inTime" property="intime" jdbcType="CHAR" />
    <result column="upTime" property="uptime" jdbcType="CHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    TID, merId, transType, orderNo, transDate, version, priv1, responseCode, transAmt, 
    curyId, transStat, chnlRetDate, message, inTime, upTime
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.unionpay.withhold.admin.pojo.TChnlCpqryLogExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_chnl_cpqry_log
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.unionpay.withhold.admin.pojo.TChnlCpqryLogExample" >
    delete from t_chnl_cpqry_log
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.unionpay.withhold.admin.pojo.TChnlCpqryLog" >
    insert into t_chnl_cpqry_log (TID, merId, transType, 
      orderNo, transDate, version, 
      priv1, responseCode, transAmt, 
      curyId, transStat, chnlRetDate, 
      message, inTime, upTime)
    values (#{tid,jdbcType=CHAR}, #{merid,jdbcType=CHAR}, #{transtype,jdbcType=CHAR}, 
      #{orderno,jdbcType=CHAR}, #{transdate,jdbcType=CHAR}, #{version,jdbcType=CHAR}, 
      #{priv1,jdbcType=CHAR}, #{responsecode,jdbcType=CHAR}, #{transamt,jdbcType=CHAR}, 
      #{curyid,jdbcType=CHAR}, #{transstat,jdbcType=CHAR}, #{chnlretdate,jdbcType=CHAR}, 
      #{message,jdbcType=CHAR}, #{intime,jdbcType=CHAR}, #{uptime,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.unionpay.withhold.admin.pojo.TChnlCpqryLog" >
    insert into t_chnl_cpqry_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tid != null" >
        TID,
      </if>
      <if test="merid != null" >
        merId,
      </if>
      <if test="transtype != null" >
        transType,
      </if>
      <if test="orderno != null" >
        orderNo,
      </if>
      <if test="transdate != null" >
        transDate,
      </if>
      <if test="version != null" >
        version,
      </if>
      <if test="priv1 != null" >
        priv1,
      </if>
      <if test="responsecode != null" >
        responseCode,
      </if>
      <if test="transamt != null" >
        transAmt,
      </if>
      <if test="curyid != null" >
        curyId,
      </if>
      <if test="transstat != null" >
        transStat,
      </if>
      <if test="chnlretdate != null" >
        chnlRetDate,
      </if>
      <if test="message != null" >
        message,
      </if>
      <if test="intime != null" >
        inTime,
      </if>
      <if test="uptime != null" >
        upTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tid != null" >
        #{tid,jdbcType=CHAR},
      </if>
      <if test="merid != null" >
        #{merid,jdbcType=CHAR},
      </if>
      <if test="transtype != null" >
        #{transtype,jdbcType=CHAR},
      </if>
      <if test="orderno != null" >
        #{orderno,jdbcType=CHAR},
      </if>
      <if test="transdate != null" >
        #{transdate,jdbcType=CHAR},
      </if>
      <if test="version != null" >
        #{version,jdbcType=CHAR},
      </if>
      <if test="priv1 != null" >
        #{priv1,jdbcType=CHAR},
      </if>
      <if test="responsecode != null" >
        #{responsecode,jdbcType=CHAR},
      </if>
      <if test="transamt != null" >
        #{transamt,jdbcType=CHAR},
      </if>
      <if test="curyid != null" >
        #{curyid,jdbcType=CHAR},
      </if>
      <if test="transstat != null" >
        #{transstat,jdbcType=CHAR},
      </if>
      <if test="chnlretdate != null" >
        #{chnlretdate,jdbcType=CHAR},
      </if>
      <if test="message != null" >
        #{message,jdbcType=CHAR},
      </if>
      <if test="intime != null" >
        #{intime,jdbcType=CHAR},
      </if>
      <if test="uptime != null" >
        #{uptime,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.unionpay.withhold.admin.pojo.TChnlCpqryLogExample" resultType="java.lang.Integer" >
    select count(*) from t_chnl_cpqry_log
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_chnl_cpqry_log
    <set >
      <if test="record.tid != null" >
        TID = #{record.tid,jdbcType=CHAR},
      </if>
      <if test="record.merid != null" >
        merId = #{record.merid,jdbcType=CHAR},
      </if>
      <if test="record.transtype != null" >
        transType = #{record.transtype,jdbcType=CHAR},
      </if>
      <if test="record.orderno != null" >
        orderNo = #{record.orderno,jdbcType=CHAR},
      </if>
      <if test="record.transdate != null" >
        transDate = #{record.transdate,jdbcType=CHAR},
      </if>
      <if test="record.version != null" >
        version = #{record.version,jdbcType=CHAR},
      </if>
      <if test="record.priv1 != null" >
        priv1 = #{record.priv1,jdbcType=CHAR},
      </if>
      <if test="record.responsecode != null" >
        responseCode = #{record.responsecode,jdbcType=CHAR},
      </if>
      <if test="record.transamt != null" >
        transAmt = #{record.transamt,jdbcType=CHAR},
      </if>
      <if test="record.curyid != null" >
        curyId = #{record.curyid,jdbcType=CHAR},
      </if>
      <if test="record.transstat != null" >
        transStat = #{record.transstat,jdbcType=CHAR},
      </if>
      <if test="record.chnlretdate != null" >
        chnlRetDate = #{record.chnlretdate,jdbcType=CHAR},
      </if>
      <if test="record.message != null" >
        message = #{record.message,jdbcType=CHAR},
      </if>
      <if test="record.intime != null" >
        inTime = #{record.intime,jdbcType=CHAR},
      </if>
      <if test="record.uptime != null" >
        upTime = #{record.uptime,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_chnl_cpqry_log
    set TID = #{record.tid,jdbcType=CHAR},
      merId = #{record.merid,jdbcType=CHAR},
      transType = #{record.transtype,jdbcType=CHAR},
      orderNo = #{record.orderno,jdbcType=CHAR},
      transDate = #{record.transdate,jdbcType=CHAR},
      version = #{record.version,jdbcType=CHAR},
      priv1 = #{record.priv1,jdbcType=CHAR},
      responseCode = #{record.responsecode,jdbcType=CHAR},
      transAmt = #{record.transamt,jdbcType=CHAR},
      curyId = #{record.curyid,jdbcType=CHAR},
      transStat = #{record.transstat,jdbcType=CHAR},
      chnlRetDate = #{record.chnlretdate,jdbcType=CHAR},
      message = #{record.message,jdbcType=CHAR},
      inTime = #{record.intime,jdbcType=CHAR},
      upTime = #{record.uptime,jdbcType=CHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>