<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.unionpay.withhold.admin.mapper.TCityMapper" >
  <resultMap id="BaseResultMap" type="com.unionpay.withhold.admin.pojo.TCity" >
    <id column="C_ID" property="cId" jdbcType="DECIMAL" />
    <result column="C_NAME" property="cName" jdbcType="VARCHAR" />
    <result column="C_ZCODE" property="cZcode" jdbcType="VARCHAR" />
    <result column="C_PCODE" property="cPcode" jdbcType="VARCHAR" />
    <result column="P_ID" property="pId" jdbcType="DECIMAL" />
    <result column="C_CODE" property="cCode" jdbcType="VARCHAR" />
    <result column="XZ_CODE" property="xzCode" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    C_ID, C_NAME, C_ZCODE, C_PCODE, P_ID, C_CODE, XZ_CODE
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.unionpay.withhold.admin.pojo.TCityExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_city
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_city
    where C_ID = #{cId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_city
    where C_ID = #{cId,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="com.unionpay.withhold.admin.pojo.TCityExample" >
    delete from t_city
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.unionpay.withhold.admin.pojo.TCity" >
    insert into t_city (C_ID, C_NAME, C_ZCODE, 
      C_PCODE, P_ID, C_CODE, 
      XZ_CODE)
    values (#{cId,jdbcType=DECIMAL}, #{cName,jdbcType=VARCHAR}, #{cZcode,jdbcType=VARCHAR}, 
      #{cPcode,jdbcType=VARCHAR}, #{pId,jdbcType=DECIMAL}, #{cCode,jdbcType=VARCHAR}, 
      #{xzCode,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.unionpay.withhold.admin.pojo.TCity" >
    insert into t_city
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cId != null" >
        C_ID,
      </if>
      <if test="cName != null" >
        C_NAME,
      </if>
      <if test="cZcode != null" >
        C_ZCODE,
      </if>
      <if test="cPcode != null" >
        C_PCODE,
      </if>
      <if test="pId != null" >
        P_ID,
      </if>
      <if test="cCode != null" >
        C_CODE,
      </if>
      <if test="xzCode != null" >
        XZ_CODE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cId != null" >
        #{cId,jdbcType=DECIMAL},
      </if>
      <if test="cName != null" >
        #{cName,jdbcType=VARCHAR},
      </if>
      <if test="cZcode != null" >
        #{cZcode,jdbcType=VARCHAR},
      </if>
      <if test="cPcode != null" >
        #{cPcode,jdbcType=VARCHAR},
      </if>
      <if test="pId != null" >
        #{pId,jdbcType=DECIMAL},
      </if>
      <if test="cCode != null" >
        #{cCode,jdbcType=VARCHAR},
      </if>
      <if test="xzCode != null" >
        #{xzCode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.unionpay.withhold.admin.pojo.TCityExample" resultType="java.lang.Integer" >
    select count(*) from t_city
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_city
    <set >
      <if test="record.cId != null" >
        C_ID = #{record.cId,jdbcType=DECIMAL},
      </if>
      <if test="record.cName != null" >
        C_NAME = #{record.cName,jdbcType=VARCHAR},
      </if>
      <if test="record.cZcode != null" >
        C_ZCODE = #{record.cZcode,jdbcType=VARCHAR},
      </if>
      <if test="record.cPcode != null" >
        C_PCODE = #{record.cPcode,jdbcType=VARCHAR},
      </if>
      <if test="record.pId != null" >
        P_ID = #{record.pId,jdbcType=DECIMAL},
      </if>
      <if test="record.cCode != null" >
        C_CODE = #{record.cCode,jdbcType=VARCHAR},
      </if>
      <if test="record.xzCode != null" >
        XZ_CODE = #{record.xzCode,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_city
    set C_ID = #{record.cId,jdbcType=DECIMAL},
      C_NAME = #{record.cName,jdbcType=VARCHAR},
      C_ZCODE = #{record.cZcode,jdbcType=VARCHAR},
      C_PCODE = #{record.cPcode,jdbcType=VARCHAR},
      P_ID = #{record.pId,jdbcType=DECIMAL},
      C_CODE = #{record.cCode,jdbcType=VARCHAR},
      XZ_CODE = #{record.xzCode,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.unionpay.withhold.admin.pojo.TCity" >
    update t_city
    <set >
      <if test="cName != null" >
        C_NAME = #{cName,jdbcType=VARCHAR},
      </if>
      <if test="cZcode != null" >
        C_ZCODE = #{cZcode,jdbcType=VARCHAR},
      </if>
      <if test="cPcode != null" >
        C_PCODE = #{cPcode,jdbcType=VARCHAR},
      </if>
      <if test="pId != null" >
        P_ID = #{pId,jdbcType=DECIMAL},
      </if>
      <if test="cCode != null" >
        C_CODE = #{cCode,jdbcType=VARCHAR},
      </if>
      <if test="xzCode != null" >
        XZ_CODE = #{xzCode,jdbcType=VARCHAR},
      </if>
    </set>
    where C_ID = #{cId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.unionpay.withhold.admin.pojo.TCity" >
    update t_city
    set C_NAME = #{cName,jdbcType=VARCHAR},
      C_ZCODE = #{cZcode,jdbcType=VARCHAR},
      C_PCODE = #{cPcode,jdbcType=VARCHAR},
      P_ID = #{pId,jdbcType=DECIMAL},
      C_CODE = #{cCode,jdbcType=VARCHAR},
      XZ_CODE = #{xzCode,jdbcType=VARCHAR}
    where C_ID = #{cId,jdbcType=DECIMAL}
  </update>
</mapper>