<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.unionpay.withhold.admin.mapper.TLimitMemNumsDayMapper" >
  <resultMap id="BaseResultMap" type="com.unionpay.withhold.admin.pojo.TLimitMemNumsDay" >
    <id column="TID" property="tid" jdbcType="INTEGER" />
    <result column="CASEID" property="caseid" jdbcType="DECIMAL" />
    <result column="LIMIT_COUNT" property="limitCount" jdbcType="DECIMAL" />
    <result column="RISKLEVEL" property="risklevel" jdbcType="DECIMAL" />
    <result column="STATUS" property="status" jdbcType="VARCHAR" />
    <result column="NOTES" property="notes" jdbcType="VARCHAR" />
    <result column="REMARKS" property="remarks" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    TID, CASEID, LIMIT_COUNT, RISKLEVEL, STATUS, NOTES, REMARKS
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.unionpay.withhold.admin.pojo.TLimitMemNumsDayExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_limit_mem_nums_day
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_limit_mem_nums_day
    where TID = #{tid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_limit_mem_nums_day
    where TID = #{tid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.unionpay.withhold.admin.pojo.TLimitMemNumsDayExample" >
    delete from t_limit_mem_nums_day
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.unionpay.withhold.admin.pojo.TLimitMemNumsDay" >
    insert into t_limit_mem_nums_day (TID, CASEID, LIMIT_COUNT, 
      RISKLEVEL, STATUS, NOTES, 
      REMARKS)
    values (#{tid,jdbcType=INTEGER}, #{caseid,jdbcType=DECIMAL}, #{limitCount,jdbcType=DECIMAL}, 
      #{risklevel,jdbcType=DECIMAL}, #{status,jdbcType=VARCHAR}, #{notes,jdbcType=VARCHAR}, 
      #{remarks,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.unionpay.withhold.admin.pojo.TLimitMemNumsDay" >
    insert into t_limit_mem_nums_day
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tid != null" >
        TID,
      </if>
      <if test="caseid != null" >
        CASEID,
      </if>
      <if test="limitCount != null" >
        LIMIT_COUNT,
      </if>
      <if test="risklevel != null" >
        RISKLEVEL,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="notes != null" >
        NOTES,
      </if>
      <if test="remarks != null" >
        REMARKS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tid != null" >
        #{tid,jdbcType=INTEGER},
      </if>
      <if test="caseid != null" >
        #{caseid,jdbcType=DECIMAL},
      </if>
      <if test="limitCount != null" >
        #{limitCount,jdbcType=DECIMAL},
      </if>
      <if test="risklevel != null" >
        #{risklevel,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="notes != null" >
        #{notes,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.unionpay.withhold.admin.pojo.TLimitMemNumsDayExample" resultType="java.lang.Integer" >
    select count(*) from t_limit_mem_nums_day
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_limit_mem_nums_day
    <set >
      <if test="record.tid != null" >
        TID = #{record.tid,jdbcType=INTEGER},
      </if>
      <if test="record.caseid != null" >
        CASEID = #{record.caseid,jdbcType=DECIMAL},
      </if>
      <if test="record.limitCount != null" >
        LIMIT_COUNT = #{record.limitCount,jdbcType=DECIMAL},
      </if>
      <if test="record.risklevel != null" >
        RISKLEVEL = #{record.risklevel,jdbcType=DECIMAL},
      </if>
      <if test="record.status != null" >
        STATUS = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.notes != null" >
        NOTES = #{record.notes,jdbcType=VARCHAR},
      </if>
      <if test="record.remarks != null" >
        REMARKS = #{record.remarks,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_limit_mem_nums_day
    set TID = #{record.tid,jdbcType=INTEGER},
      CASEID = #{record.caseid,jdbcType=DECIMAL},
      LIMIT_COUNT = #{record.limitCount,jdbcType=DECIMAL},
      RISKLEVEL = #{record.risklevel,jdbcType=DECIMAL},
      STATUS = #{record.status,jdbcType=VARCHAR},
      NOTES = #{record.notes,jdbcType=VARCHAR},
      REMARKS = #{record.remarks,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.unionpay.withhold.admin.pojo.TLimitMemNumsDay" >
    update t_limit_mem_nums_day
    <set >
      <if test="caseid != null" >
        CASEID = #{caseid,jdbcType=DECIMAL},
      </if>
      <if test="limitCount != null" >
        LIMIT_COUNT = #{limitCount,jdbcType=DECIMAL},
      </if>
      <if test="risklevel != null" >
        RISKLEVEL = #{risklevel,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
      <if test="notes != null" >
        NOTES = #{notes,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null" >
        REMARKS = #{remarks,jdbcType=VARCHAR},
      </if>
    </set>
    where TID = #{tid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.unionpay.withhold.admin.pojo.TLimitMemNumsDay" >
    update t_limit_mem_nums_day
    set CASEID = #{caseid,jdbcType=DECIMAL},
      LIMIT_COUNT = #{limitCount,jdbcType=DECIMAL},
      RISKLEVEL = #{risklevel,jdbcType=DECIMAL},
      STATUS = #{status,jdbcType=VARCHAR},
      NOTES = #{notes,jdbcType=VARCHAR},
      REMARKS = #{remarks,jdbcType=VARCHAR}
    where TID = #{tid,jdbcType=INTEGER}
  </update>
</mapper>