<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.unionpay.withhold.admin.mapper.TMerchDetaApplyMapper">
	<resultMap id="BaseResultMap"
		type="com.unionpay.withhold.admin.pojo.TMerchDetaApply">
		<id column="SELF_ID" property="selfId" jdbcType="INTEGER" />
		<result column="MERCH_ID" property="merchId" jdbcType="DECIMAL" />
		<result column="MEM_ID" property="memId" jdbcType="DECIMAL" />
		<result column="MEMBER_NAME" property="memberName" jdbcType="VARCHAR" />
		<result column="MEMBER_ID" property="memberId" jdbcType="VARCHAR" />
		<result column="ADDRESS" property="address" jdbcType="VARCHAR" />
		<result column="POST_CODE" property="postCode" jdbcType="VARCHAR" />
		<result column="CONTACT" property="contact" jdbcType="VARCHAR" />
		<result column="CONT_PHONE" property="contPhone" jdbcType="VARCHAR" />
		<result column="CONT_ADDRESS" property="contAddress" jdbcType="VARCHAR" />
		<result column="CONT_POST" property="contPost" jdbcType="VARCHAR" />
		<result column="CONT_EMAIL" property="contEmail" jdbcType="VARCHAR" />
		<result column="SETL_CYCLE" property="setlCycle" jdbcType="VARCHAR" />
		<result column="CHARGE" property="charge" jdbcType="DECIMAL" />
		<result column="DEPOSIT" property="deposit" jdbcType="DECIMAL" />
		<result column="RISK_VER" property="riskVer" jdbcType="VARCHAR" />
		<result column="ROUT_VER" property="routVer" jdbcType="VARCHAR" />
		<result column="CACODE" property="cacode" jdbcType="VARCHAR" />
		<result column="MCC" property="mcc" jdbcType="VARCHAR" />
		<result column="MCC_LIST" property="mccList" jdbcType="VARCHAR" />
		<result column="TRANSFACTORS" property="transfactors" jdbcType="VARCHAR" />
		<result column="STATUS" property="status" jdbcType="VARCHAR" />
		<result column="IN_USER" property="inUser" jdbcType="DECIMAL" />
		<result column="IN_TIME" property="inTime" jdbcType="TIMESTAMP" />
		<result column="STEXA_USER" property="stexaUser" jdbcType="DECIMAL" />
		<result column="STEXA_TIME" property="stexaTime" jdbcType="TIMESTAMP" />
		<result column="STEXA_OPT" property="stexaOpt" jdbcType="VARCHAR" />
		<result column="CVLEXA_USER" property="cvlexaUser" jdbcType="DECIMAL" />
		<result column="CVLEXA_TIME" property="cvlexaTime" jdbcType="TIMESTAMP" />
		<result column="CVLEXA_OPT" property="cvlexaOpt" jdbcType="VARCHAR" />
		<result column="NOTES" property="notes" jdbcType="VARCHAR" />
		<result column="REMARKS" property="remarks" jdbcType="VARCHAR" />
		<!-- 关联查询时的属性 -->
		<result column="CANAME" property="caname" jdbcType="VARCHAR" />
		<result column="TRANSFACTORS_NAME" property="transfactorsName" jdbcType="VARCHAR" />
		<result column="MCC_NAME" property="mccName" jdbcType="VARCHAR" />
		<result column="MCC_LIST_NAME" property="mccListName" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Example_Where_Clause">
		<where>
			<foreach collection="oredCriteria" item="criteria" separator="or">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value}
									and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem"
										open="(" close=")" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Update_By_Example_Where_Clause">
		<where>
			<foreach collection="example.oredCriteria" item="criteria"
				separator="or">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value}
									and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem"
										open="(" close=")" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Base_Column_List">
		SELF_ID, MERCH_ID, MEM_ID, MEMBER_NAME, MEMBER_ID, ADDRESS,
		POST_CODE,
		CONTACT, CONT_PHONE,
		CONT_ADDRESS, CONT_POST, CONT_EMAIL,
		SETL_CYCLE, CHARGE, DEPOSIT, RISK_VER,
		ROUT_VER,
		CACODE, MCC, MCC_LIST,
		TRANSFACTORS, STATUS, IN_USER, IN_TIME, STEXA_USER,
		STEXA_TIME,
		STEXA_OPT, CVLEXA_USER, CVLEXA_TIME, CVLEXA_OPT, NOTES, REMARKS
	</sql>
	<select id="selectByExample" resultMap="BaseResultMap"
		parameterType="com.unionpay.withhold.admin.pojo.TMerchDetaApplyExample">
		select
		<if test="distinct">
			distinct
		</if>
		<include refid="Base_Column_List" />
		from t_merch_deta_apply
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
	</select>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from t_merch_deta_apply
		where SELF_ID = #{selfId,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from
		t_merch_deta_apply
		where SELF_ID = #{selfId,jdbcType=INTEGER}
	</delete>
	<delete id="deleteByExample"
		parameterType="com.unionpay.withhold.admin.pojo.TMerchDetaApplyExample">
		delete from t_merch_deta_apply
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</delete>
	<insert id="insert" parameterType="com.unionpay.withhold.admin.pojo.TMerchDetaApply">
		insert into t_merch_deta_apply
		(SELF_ID, MERCH_ID, MEM_ID,
		MEMBER_NAME, MEMBER_ID, ADDRESS,
		POST_CODE,
		CONTACT, CONT_PHONE,
		CONT_ADDRESS, CONT_POST, CONT_EMAIL,
		SETL_CYCLE,
		CHARGE, DEPOSIT,
		RISK_VER, ROUT_VER, CACODE,
		MCC, MCC_LIST,
		TRANSFACTORS,
		STATUS, IN_USER, IN_TIME,
		STEXA_USER, STEXA_TIME,
		STEXA_OPT,
		CVLEXA_USER, CVLEXA_TIME, CVLEXA_OPT,
		NOTES, REMARKS)
		values
		(#{selfId,jdbcType=INTEGER}, #{merchId,jdbcType=DECIMAL},
		#{memId,jdbcType=DECIMAL},
		#{memberName,jdbcType=VARCHAR},
		#{memberId,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR},
		#{postCode,jdbcType=VARCHAR}, #{contact,jdbcType=VARCHAR},
		#{contPhone,jdbcType=VARCHAR},
		#{contAddress,jdbcType=VARCHAR},
		#{contPost,jdbcType=VARCHAR}, #{contEmail,jdbcType=VARCHAR},
		#{setlCycle,jdbcType=VARCHAR}, #{charge,jdbcType=DECIMAL},
		#{deposit,jdbcType=DECIMAL},
		#{riskVer,jdbcType=VARCHAR},
		#{routVer,jdbcType=VARCHAR}, #{cacode,jdbcType=VARCHAR},
		#{mcc,jdbcType=VARCHAR}, #{mccList,jdbcType=VARCHAR},
		#{transfactors,jdbcType=VARCHAR},
		#{status,jdbcType=VARCHAR},
		#{inUser,jdbcType=DECIMAL}, #{inTime,jdbcType=TIMESTAMP},
		#{stexaUser,jdbcType=DECIMAL}, #{stexaTime,jdbcType=TIMESTAMP},
		#{stexaOpt,jdbcType=VARCHAR},
		#{cvlexaUser,jdbcType=DECIMAL},
		#{cvlexaTime,jdbcType=TIMESTAMP}, #{cvlexaOpt,jdbcType=VARCHAR},
		#{notes,jdbcType=VARCHAR}, #{remarks,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.unionpay.withhold.admin.pojo.TMerchDetaApply">
		insert into t_merch_deta_apply
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="selfId != null">
				SELF_ID,
			</if>
			<if test="merchId != null">
				MERCH_ID,
			</if>
			<if test="memId != null">
				MEM_ID,
			</if>
			<if test="memberName != null">
				MEMBER_NAME,
			</if>
			<if test="memberId != null">
				MEMBER_ID,
			</if>
			<if test="address != null">
				ADDRESS,
			</if>
			<if test="postCode != null">
				POST_CODE,
			</if>
			<if test="contact != null">
				CONTACT,
			</if>
			<if test="contPhone != null">
				CONT_PHONE,
			</if>
			<if test="contAddress != null">
				CONT_ADDRESS,
			</if>
			<if test="contPost != null">
				CONT_POST,
			</if>
			<if test="contEmail != null">
				CONT_EMAIL,
			</if>
			<if test="setlCycle != null">
				SETL_CYCLE,
			</if>
			<if test="charge != null">
				CHARGE,
			</if>
			<if test="deposit != null">
				DEPOSIT,
			</if>
			<if test="riskVer != null">
				RISK_VER,
			</if>
			<if test="routVer != null">
				ROUT_VER,
			</if>
			<if test="cacode != null">
				CACODE,
			</if>
			<if test="mcc != null">
				MCC,
			</if>
			<if test="mccList != null">
				MCC_LIST,
			</if>
			<if test="transfactors != null">
				TRANSFACTORS,
			</if>
			<if test="status != null">
				STATUS,
			</if>
			<if test="inUser != null">
				IN_USER,
			</if>
			<if test="inTime != null">
				IN_TIME,
			</if>
			<if test="stexaUser != null">
				STEXA_USER,
			</if>
			<if test="stexaTime != null">
				STEXA_TIME,
			</if>
			<if test="stexaOpt != null">
				STEXA_OPT,
			</if>
			<if test="cvlexaUser != null">
				CVLEXA_USER,
			</if>
			<if test="cvlexaTime != null">
				CVLEXA_TIME,
			</if>
			<if test="cvlexaOpt != null">
				CVLEXA_OPT,
			</if>
			<if test="notes != null">
				NOTES,
			</if>
			<if test="remarks != null">
				REMARKS,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="selfId != null">
				#{selfId,jdbcType=INTEGER},
			</if>
			<if test="merchId != null">
				#{merchId,jdbcType=DECIMAL},
			</if>
			<if test="memId != null">
				#{memId,jdbcType=DECIMAL},
			</if>
			<if test="memberName != null">
				#{memberName,jdbcType=VARCHAR},
			</if>
			<if test="memberId != null">
				#{memberId,jdbcType=VARCHAR},
			</if>
			<if test="address != null">
				#{address,jdbcType=VARCHAR},
			</if>
			<if test="postCode != null">
				#{postCode,jdbcType=VARCHAR},
			</if>
			<if test="contact != null">
				#{contact,jdbcType=VARCHAR},
			</if>
			<if test="contPhone != null">
				#{contPhone,jdbcType=VARCHAR},
			</if>
			<if test="contAddress != null">
				#{contAddress,jdbcType=VARCHAR},
			</if>
			<if test="contPost != null">
				#{contPost,jdbcType=VARCHAR},
			</if>
			<if test="contEmail != null">
				#{contEmail,jdbcType=VARCHAR},
			</if>
			<if test="setlCycle != null">
				#{setlCycle,jdbcType=VARCHAR},
			</if>
			<if test="charge != null">
				#{charge,jdbcType=DECIMAL},
			</if>
			<if test="deposit != null">
				#{deposit,jdbcType=DECIMAL},
			</if>
			<if test="riskVer != null">
				#{riskVer,jdbcType=VARCHAR},
			</if>
			<if test="routVer != null">
				#{routVer,jdbcType=VARCHAR},
			</if>
			<if test="cacode != null">
				#{cacode,jdbcType=VARCHAR},
			</if>
			<if test="mcc != null">
				#{mcc,jdbcType=VARCHAR},
			</if>
			<if test="mccList != null">
				#{mccList,jdbcType=VARCHAR},
			</if>
			<if test="transfactors != null">
				#{transfactors,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				#{status,jdbcType=VARCHAR},
			</if>
			<if test="inUser != null">
				#{inUser,jdbcType=DECIMAL},
			</if>
			<if test="inTime != null">
				#{inTime,jdbcType=TIMESTAMP},
			</if>
			<if test="stexaUser != null">
				#{stexaUser,jdbcType=DECIMAL},
			</if>
			<if test="stexaTime != null">
				#{stexaTime,jdbcType=TIMESTAMP},
			</if>
			<if test="stexaOpt != null">
				#{stexaOpt,jdbcType=VARCHAR},
			</if>
			<if test="cvlexaUser != null">
				#{cvlexaUser,jdbcType=DECIMAL},
			</if>
			<if test="cvlexaTime != null">
				#{cvlexaTime,jdbcType=TIMESTAMP},
			</if>
			<if test="cvlexaOpt != null">
				#{cvlexaOpt,jdbcType=VARCHAR},
			</if>
			<if test="notes != null">
				#{notes,jdbcType=VARCHAR},
			</if>
			<if test="remarks != null">
				#{remarks,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<select id="countByExample"
		parameterType="com.unionpay.withhold.admin.pojo.TMerchDetaApplyExample"
		resultType="java.lang.Integer">
		select count(*) from t_merch_deta_apply
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</select>
	<update id="updateByExampleSelective" parameterType="map">
		update t_merch_deta_apply
		<set>
			<if test="record.selfId != null">
				SELF_ID = #{record.selfId,jdbcType=INTEGER},
			</if>
			<if test="record.merchId != null">
				MERCH_ID = #{record.merchId,jdbcType=DECIMAL},
			</if>
			<if test="record.memId != null">
				MEM_ID = #{record.memId,jdbcType=DECIMAL},
			</if>
			<if test="record.memberName != null">
				MEMBER_NAME = #{record.memberName,jdbcType=VARCHAR},
			</if>
			<if test="record.memberId != null">
				MEMBER_ID = #{record.memberId,jdbcType=VARCHAR},
			</if>
			<if test="record.address != null">
				ADDRESS = #{record.address,jdbcType=VARCHAR},
			</if>
			<if test="record.postCode != null">
				POST_CODE = #{record.postCode,jdbcType=VARCHAR},
			</if>
			<if test="record.contact != null">
				CONTACT = #{record.contact,jdbcType=VARCHAR},
			</if>
			<if test="record.contPhone != null">
				CONT_PHONE = #{record.contPhone,jdbcType=VARCHAR},
			</if>
			<if test="record.contAddress != null">
				CONT_ADDRESS = #{record.contAddress,jdbcType=VARCHAR},
			</if>
			<if test="record.contPost != null">
				CONT_POST = #{record.contPost,jdbcType=VARCHAR},
			</if>
			<if test="record.contEmail != null">
				CONT_EMAIL = #{record.contEmail,jdbcType=VARCHAR},
			</if>
			<if test="record.setlCycle != null">
				SETL_CYCLE = #{record.setlCycle,jdbcType=VARCHAR},
			</if>
			<if test="record.charge != null">
				CHARGE = #{record.charge,jdbcType=DECIMAL},
			</if>
			<if test="record.deposit != null">
				DEPOSIT = #{record.deposit,jdbcType=DECIMAL},
			</if>
			<if test="record.riskVer != null">
				RISK_VER = #{record.riskVer,jdbcType=VARCHAR},
			</if>
			<if test="record.routVer != null">
				ROUT_VER = #{record.routVer,jdbcType=VARCHAR},
			</if>
			<if test="record.cacode != null">
				CACODE = #{record.cacode,jdbcType=VARCHAR},
			</if>
			<if test="record.mcc != null">
				MCC = #{record.mcc,jdbcType=VARCHAR},
			</if>
			<if test="record.mccList != null">
				MCC_LIST = #{record.mccList,jdbcType=VARCHAR},
			</if>
			<if test="record.transfactors != null">
				TRANSFACTORS = #{record.transfactors,jdbcType=VARCHAR},
			</if>
			<if test="record.status != null">
				STATUS = #{record.status,jdbcType=VARCHAR},
			</if>
			<if test="record.inUser != null">
				IN_USER = #{record.inUser,jdbcType=DECIMAL},
			</if>
			<if test="record.inTime != null">
				IN_TIME = #{record.inTime,jdbcType=TIMESTAMP},
			</if>
			<if test="record.stexaUser != null">
				STEXA_USER = #{record.stexaUser,jdbcType=DECIMAL},
			</if>
			<if test="record.stexaTime != null">
				STEXA_TIME = #{record.stexaTime,jdbcType=TIMESTAMP},
			</if>
			<if test="record.stexaOpt != null">
				STEXA_OPT = #{record.stexaOpt,jdbcType=VARCHAR},
			</if>
			<if test="record.cvlexaUser != null">
				CVLEXA_USER = #{record.cvlexaUser,jdbcType=DECIMAL},
			</if>
			<if test="record.cvlexaTime != null">
				CVLEXA_TIME = #{record.cvlexaTime,jdbcType=TIMESTAMP},
			</if>
			<if test="record.cvlexaOpt != null">
				CVLEXA_OPT = #{record.cvlexaOpt,jdbcType=VARCHAR},
			</if>
			<if test="record.notes != null">
				NOTES = #{record.notes,jdbcType=VARCHAR},
			</if>
			<if test="record.remarks != null">
				REMARKS = #{record.remarks,jdbcType=VARCHAR},
			</if>
		</set>
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByExample" parameterType="map">
		update t_merch_deta_apply
		set SELF_ID =
		#{record.selfId,jdbcType=INTEGER},
		MERCH_ID =
		#{record.merchId,jdbcType=DECIMAL},
		MEM_ID =
		#{record.memId,jdbcType=DECIMAL},
		MEMBER_NAME =
		#{record.memberName,jdbcType=VARCHAR},
		MEMBER_ID =
		#{record.memberId,jdbcType=VARCHAR},
		ADDRESS =
		#{record.address,jdbcType=VARCHAR},
		POST_CODE =
		#{record.postCode,jdbcType=VARCHAR},
		CONTACT =
		#{record.contact,jdbcType=VARCHAR},
		CONT_PHONE =
		#{record.contPhone,jdbcType=VARCHAR},
		CONT_ADDRESS =
		#{record.contAddress,jdbcType=VARCHAR},
		CONT_POST =
		#{record.contPost,jdbcType=VARCHAR},
		CONT_EMAIL =
		#{record.contEmail,jdbcType=VARCHAR},
		SETL_CYCLE =
		#{record.setlCycle,jdbcType=VARCHAR},
		CHARGE =
		#{record.charge,jdbcType=DECIMAL},
		DEPOSIT =
		#{record.deposit,jdbcType=DECIMAL},
		RISK_VER =
		#{record.riskVer,jdbcType=VARCHAR},
		ROUT_VER =
		#{record.routVer,jdbcType=VARCHAR},
		CACODE =
		#{record.cacode,jdbcType=VARCHAR},
		MCC =
		#{record.mcc,jdbcType=VARCHAR},
		MCC_LIST =
		#{record.mccList,jdbcType=VARCHAR},
		TRANSFACTORS =
		#{record.transfactors,jdbcType=VARCHAR},
		STATUS =
		#{record.status,jdbcType=VARCHAR},
		IN_USER =
		#{record.inUser,jdbcType=DECIMAL},
		IN_TIME =
		#{record.inTime,jdbcType=TIMESTAMP},
		STEXA_USER =
		#{record.stexaUser,jdbcType=DECIMAL},
		STEXA_TIME =
		#{record.stexaTime,jdbcType=TIMESTAMP},
		STEXA_OPT =
		#{record.stexaOpt,jdbcType=VARCHAR},
		CVLEXA_USER =
		#{record.cvlexaUser,jdbcType=DECIMAL},
		CVLEXA_TIME =
		#{record.cvlexaTime,jdbcType=TIMESTAMP},
		CVLEXA_OPT =
		#{record.cvlexaOpt,jdbcType=VARCHAR},
		NOTES =
		#{record.notes,jdbcType=VARCHAR},
		REMARKS =
		#{record.remarks,jdbcType=VARCHAR}
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByPrimaryKeySelective" parameterType="com.unionpay.withhold.admin.pojo.TMerchDetaApply">
		update t_merch_deta_apply
		<set>
			<if test="merchId != null">
				MERCH_ID = #{merchId,jdbcType=DECIMAL},
			</if>
			<if test="memId != null">
				MEM_ID = #{memId,jdbcType=DECIMAL},
			</if>
			<if test="memberName != null">
				MEMBER_NAME = #{memberName,jdbcType=VARCHAR},
			</if>
			<if test="memberId != null">
				MEMBER_ID = #{memberId,jdbcType=VARCHAR},
			</if>
			<if test="address != null">
				ADDRESS = #{address,jdbcType=VARCHAR},
			</if>
			<if test="postCode != null">
				POST_CODE = #{postCode,jdbcType=VARCHAR},
			</if>
			<if test="contact != null">
				CONTACT = #{contact,jdbcType=VARCHAR},
			</if>
			<if test="contPhone != null">
				CONT_PHONE = #{contPhone,jdbcType=VARCHAR},
			</if>
			<if test="contAddress != null">
				CONT_ADDRESS = #{contAddress,jdbcType=VARCHAR},
			</if>
			<if test="contPost != null">
				CONT_POST = #{contPost,jdbcType=VARCHAR},
			</if>
			<if test="contEmail != null">
				CONT_EMAIL = #{contEmail,jdbcType=VARCHAR},
			</if>
			<if test="setlCycle != null">
				SETL_CYCLE = #{setlCycle,jdbcType=VARCHAR},
			</if>
			<if test="charge != null">
				CHARGE = #{charge,jdbcType=DECIMAL},
			</if>
			<if test="deposit != null">
				DEPOSIT = #{deposit,jdbcType=DECIMAL},
			</if>
			<if test="riskVer != null">
				RISK_VER = #{riskVer,jdbcType=VARCHAR},
			</if>
			<if test="routVer != null">
				ROUT_VER = #{routVer,jdbcType=VARCHAR},
			</if>
			<if test="cacode != null">
				CACODE = #{cacode,jdbcType=VARCHAR},
			</if>
			<if test="mcc != null">
				MCC = #{mcc,jdbcType=VARCHAR},
			</if>
			<if test="mccList != null">
				MCC_LIST = #{mccList,jdbcType=VARCHAR},
			</if>
			<if test="transfactors != null">
				TRANSFACTORS = #{transfactors,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				STATUS = #{status,jdbcType=VARCHAR},
			</if>
			<if test="inUser != null">
				IN_USER = #{inUser,jdbcType=DECIMAL},
			</if>
			<if test="inTime != null">
				IN_TIME = #{inTime,jdbcType=TIMESTAMP},
			</if>
			<if test="stexaUser != null">
				STEXA_USER = #{stexaUser,jdbcType=DECIMAL},
			</if>
			<if test="stexaTime != null">
				STEXA_TIME = #{stexaTime,jdbcType=TIMESTAMP},
			</if>
			<if test="stexaOpt != null">
				STEXA_OPT = #{stexaOpt,jdbcType=VARCHAR},
			</if>
			<if test="cvlexaUser != null">
				CVLEXA_USER = #{cvlexaUser,jdbcType=DECIMAL},
			</if>
			<if test="cvlexaTime != null">
				CVLEXA_TIME = #{cvlexaTime,jdbcType=TIMESTAMP},
			</if>
			<if test="cvlexaOpt != null">
				CVLEXA_OPT = #{cvlexaOpt,jdbcType=VARCHAR},
			</if>
			<if test="notes != null">
				NOTES = #{notes,jdbcType=VARCHAR},
			</if>
			<if test="remarks != null">
				REMARKS = #{remarks,jdbcType=VARCHAR},
			</if>
		</set>
		where SELF_ID = #{selfId,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.unionpay.withhold.admin.pojo.TMerchDetaApply">
		update
		t_merch_deta_apply
		set MERCH_ID = #{merchId,jdbcType=DECIMAL},
		MEM_ID =
		#{memId,jdbcType=DECIMAL},
		MEMBER_NAME =
		#{memberName,jdbcType=VARCHAR},
		MEMBER_ID =
		#{memberId,jdbcType=VARCHAR},
		ADDRESS = #{address,jdbcType=VARCHAR},
		POST_CODE = #{postCode,jdbcType=VARCHAR},
		CONTACT =
		#{contact,jdbcType=VARCHAR},
		CONT_PHONE =
		#{contPhone,jdbcType=VARCHAR},
		CONT_ADDRESS =
		#{contAddress,jdbcType=VARCHAR},
		CONT_POST =
		#{contPost,jdbcType=VARCHAR},
		CONT_EMAIL =
		#{contEmail,jdbcType=VARCHAR},
		SETL_CYCLE =
		#{setlCycle,jdbcType=VARCHAR},
		CHARGE = #{charge,jdbcType=DECIMAL},
		DEPOSIT = #{deposit,jdbcType=DECIMAL},
		RISK_VER =
		#{riskVer,jdbcType=VARCHAR},
		ROUT_VER = #{routVer,jdbcType=VARCHAR},
		CACODE = #{cacode,jdbcType=VARCHAR},
		MCC = #{mcc,jdbcType=VARCHAR},
		MCC_LIST = #{mccList,jdbcType=VARCHAR},
		TRANSFACTORS =
		#{transfactors,jdbcType=VARCHAR},
		STATUS = #{status,jdbcType=VARCHAR},
		IN_USER = #{inUser,jdbcType=DECIMAL},
		IN_TIME =
		#{inTime,jdbcType=TIMESTAMP},
		STEXA_USER =
		#{stexaUser,jdbcType=DECIMAL},
		STEXA_TIME =
		#{stexaTime,jdbcType=TIMESTAMP},
		STEXA_OPT =
		#{stexaOpt,jdbcType=VARCHAR},
		CVLEXA_USER =
		#{cvlexaUser,jdbcType=DECIMAL},
		CVLEXA_TIME =
		#{cvlexaTime,jdbcType=TIMESTAMP},
		CVLEXA_OPT =
		#{cvlexaOpt,jdbcType=VARCHAR},
		NOTES = #{notes,jdbcType=VARCHAR},
		REMARKS = #{remarks,jdbcType=VARCHAR}
		where SELF_ID =
		#{selfId,jdbcType=INTEGER}
	</update>

	<select id="selectWithCondition" resultMap="BaseResultMap">
		SELECT
		mda.*, ca.CANAME AS CANAME
		FROM
		t_merch_deta_apply AS mda
		LEFT JOIN
		t_coop_agency AS ca ON mda.CACODE = ca.CACODE
		AND ca.`STATUS` = '00'
		<where>
			<if test="merchDetaApply.memberId != null and merchDetaApply.memberId !=''">
				AND mda.MEMBER_ID = #{merchDetaApply.memberId}
			</if>
			<if test="merchDetaApply.memberName != null and merchDetaApply.memberName !=''">
				AND mda.MEMBER_NAME = #{merchDetaApply.memberName}
			</if>
			<if test="merchDetaApply.cacode != null and merchDetaApply.cacode !=''">
				AND mda.CACODE = #{merchDetaApply.cacode}
			</if>
			<if test="statuses != null ">
				And
				<foreach collection="statuses" item="status" open="mda.STATUS IN("
					close=")" separator=",">
					#{status}
				</foreach>
			</if>
		</where>
		order by SELF_ID DESC
		<if test="beginRow != null and pageSize != null">
			limit #{beginRow},#{pageSize}
		</if>
	</select>
	
	<select id="selectCountWithCondition" resultType="java.lang.Integer">
		SELECT COUNT(*) FROM t_merch_deta_apply AS mda
		<where>
			<if test="merchDetaApply.memberId != null and merchDetaApply.memberId !=''">
				AND mda.MEMBER_ID = #{merchDetaApply.memberId}
			</if>
			<if test="merchDetaApply.memberName != null and merchDetaApply.memberName !=''">
				AND mda.MEMBER_NAME = #{merchDetaApply.memberName}
			</if>
			<if test="merchDetaApply.cacode != null and merchDetaApply.cacode !=''">
				AND mda.CACODE = #{merchDetaApply.cacode}
			</if>
			<if test="statuses != null ">
				And
				<foreach collection="statuses" item="status" open="mda.STATUS IN("
					close=")" separator=",">
					#{status}
				</foreach>
			</if>
		</where>
	</select>
	
	<select id="selectMerchDetailById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		SELECT
			mda.*, ca.CANAME AS CANAME, pd.PARA_NAME AS TRANSFACTORS_NAME, md.MCCNAME AS MCC_NAME, ml.MCCCONT AS MCC_LIST_NAME
		FROM
			t_merch_deta_apply AS mda
		LEFT JOIN t_coop_agency AS ca ON mda.CACODE = ca.CACODE AND ca.`STATUS` = '00'
		LEFT JOIN t_para_dic AS pd ON mda.TRANSFACTORS = pd.PARA_CODE AND pd.`STATUS` = '1'
		LEFT JOIN t_mcc_desc AS md ON mda.MCC = md.MCC
		LEFT JOIN t_mcc_list AS ml ON mda.MCC_LIST = ml.MCCLIST AND ml.`STATUS` = '1'
		WHERE
		mda.SELF_ID = #{selfId} AND mda.`STATUS` != '99'
	</select>
</mapper>