<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.unionpay.withhold.admin.mapper.TMerchDetaMapper">
	<resultMap id="BaseResultMap" type="com.unionpay.withhold.admin.pojo.TMerchDeta">
		<id column="MERCH_ID" property="merchId" jdbcType="INTEGER" />
		<result column="MEM_ID" property="memId" jdbcType="DECIMAL" />
		<result column="MEMBER_ID" property="memberId" jdbcType="VARCHAR" />
		<result column="MEMBER_NAME" property="memberName" jdbcType="VARCHAR" />
		<result column="ADDRESS" property="address" jdbcType="VARCHAR" />
		<result column="POST_CODE" property="postCode" jdbcType="VARCHAR" />
		<result column="CONTACT" property="contact" jdbcType="VARCHAR" />
		<result column="CONT_PHONE" property="contPhone" jdbcType="VARCHAR" />
		<result column="CONT_ADDRESS" property="contAddress" jdbcType="VARCHAR" />
		<result column="CONT_POST" property="contPost" jdbcType="VARCHAR" />
		<result column="CONT_EMAIL" property="contEmail" jdbcType="VARCHAR" />
		<result column="RISK_VER" property="riskVer" jdbcType="VARCHAR" />
		<result column="ROUT_VER" property="routVer" jdbcType="VARCHAR" />
		<result column="CACODE" property="cacode" jdbcType="VARCHAR" />
		<result column="MCC" property="mcc" jdbcType="VARCHAR" />
		<result column="MCC_LIST" property="mccList" jdbcType="VARCHAR" />
		<result column="TRANSFACTORS" property="transfactors" jdbcType="VARCHAR" />
		<result column="STATUS" property="status" jdbcType="VARCHAR" />
		<result column="IN_USER" property="inUser" jdbcType="DECIMAL" />
		<result column="IN_TIME" property="inTime" jdbcType="TIMESTAMP" />
		<result column="STEXA_USER" property="stexaUser" jdbcType="DECIMAL" />
		<result column="STEXA_TIME" property="stexaTime" jdbcType="TIMESTAMP" />
		<result column="STEXA_OPT" property="stexaOpt" jdbcType="VARCHAR" />
		<result column="CVLEXA_USER" property="cvlexaUser" jdbcType="DECIMAL" />
		<result column="CVLEXA_TIME" property="cvlexaTime" jdbcType="TIMESTAMP" />
		<result column="CVLEXA_OPT" property="cvlexaOpt" jdbcType="VARCHAR" />
		<result column="NOTES" property="notes" jdbcType="VARCHAR" />
		<result column="REMARKS" property="remarks" jdbcType="VARCHAR" />
		<!-- 关联查询时的属性 -->
		<result column="CANAME" property="caname" jdbcType="VARCHAR" />
		<result column="TRANSFACTORS_NAME" property="transfactorsName" jdbcType="VARCHAR" />
		<result column="MCC_NAME" property="mccName" jdbcType="VARCHAR" />
		<result column="MCC_LIST_NAME" property="mccListName" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Example_Where_Clause">
		<where>
			<foreach collection="oredCriteria" item="criteria" separator="or">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem"
										open="(" close=")" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Update_By_Example_Where_Clause">
		<where>
			<foreach collection="example.oredCriteria" item="criteria"
				separator="or">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem"
										open="(" close=")" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Base_Column_List">
		MERCH_ID, MEM_ID, MEMBER_ID, MEMBER_NAME, ADDRESS, POST_CODE, CONTACT,
		CONT_PHONE,
		CONT_ADDRESS, CONT_POST, CONT_EMAIL, RISK_VER, ROUT_VER, CACODE, MCC, MCC_LIST,
		TRANSFACTORS,
		STATUS, IN_USER, IN_TIME, STEXA_USER, STEXA_TIME, STEXA_OPT, CVLEXA_USER,
		CVLEXA_TIME,
		CVLEXA_OPT, NOTES, REMARKS
	</sql>
	<select id="selectByExample" resultMap="BaseResultMap"
		parameterType="com.unionpay.withhold.admin.pojo.TMerchDetaExample">
		select
		<if test="distinct">
			distinct
		</if>
		<include refid="Base_Column_List" />
		from t_merch_deta
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
	</select>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from t_merch_deta
		where MERCH_ID = #{merchId,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from t_merch_deta
		where MERCH_ID = #{merchId,jdbcType=INTEGER}
	</delete>
	<delete id="deleteByExample" parameterType="com.unionpay.withhold.admin.pojo.TMerchDetaExample">
		delete from t_merch_deta
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</delete>
	<insert id="insert" parameterType="com.unionpay.withhold.admin.pojo.TMerchDeta">
		insert into t_merch_deta (MERCH_ID, MEM_ID, MEMBER_ID,
		MEMBER_NAME, ADDRESS, POST_CODE,
		CONTACT, CONT_PHONE, CONT_ADDRESS,
		CONT_POST, CONT_EMAIL, RISK_VER,
		ROUT_VER, CACODE, MCC,
		MCC_LIST, TRANSFACTORS, STATUS,
		IN_USER, IN_TIME, STEXA_USER,
		STEXA_TIME, STEXA_OPT, CVLEXA_USER,
		CVLEXA_TIME, CVLEXA_OPT, NOTES,
		REMARKS)
		values (#{merchId,jdbcType=INTEGER}, #{memId,jdbcType=DECIMAL},
		#{memberId,jdbcType=VARCHAR},
		#{memberName,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{postCode,jdbcType=VARCHAR},
		#{contact,jdbcType=VARCHAR}, #{contPhone,jdbcType=VARCHAR},
		#{contAddress,jdbcType=VARCHAR},
		#{contPost,jdbcType=VARCHAR}, #{contEmail,jdbcType=VARCHAR}, #{riskVer,jdbcType=VARCHAR},
		#{routVer,jdbcType=VARCHAR}, #{cacode,jdbcType=VARCHAR},
		#{mcc,jdbcType=VARCHAR},
		#{mccList,jdbcType=VARCHAR}, #{transfactors,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR},
		#{inUser,jdbcType=DECIMAL}, #{inTime,jdbcType=TIMESTAMP},
		#{stexaUser,jdbcType=DECIMAL},
		#{stexaTime,jdbcType=TIMESTAMP}, #{stexaOpt,jdbcType=VARCHAR}, #{cvlexaUser,jdbcType=DECIMAL},
		#{cvlexaTime,jdbcType=TIMESTAMP}, #{cvlexaOpt,jdbcType=VARCHAR},
		#{notes,jdbcType=VARCHAR},
		#{remarks,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.unionpay.withhold.admin.pojo.TMerchDeta">
		insert into t_merch_deta
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="merchId != null">
				MERCH_ID,
			</if>
			<if test="memId != null">
				MEM_ID,
			</if>
			<if test="memberId != null">
				MEMBER_ID,
			</if>
			<if test="memberName != null">
				MEMBER_NAME,
			</if>
			<if test="address != null">
				ADDRESS,
			</if>
			<if test="postCode != null">
				POST_CODE,
			</if>
			<if test="contact != null">
				CONTACT,
			</if>
			<if test="contPhone != null">
				CONT_PHONE,
			</if>
			<if test="contAddress != null">
				CONT_ADDRESS,
			</if>
			<if test="contPost != null">
				CONT_POST,
			</if>
			<if test="contEmail != null">
				CONT_EMAIL,
			</if>
			<if test="riskVer != null">
				RISK_VER,
			</if>
			<if test="routVer != null">
				ROUT_VER,
			</if>
			<if test="cacode != null">
				CACODE,
			</if>
			<if test="mcc != null">
				MCC,
			</if>
			<if test="mccList != null">
				MCC_LIST,
			</if>
			<if test="transfactors != null">
				TRANSFACTORS,
			</if>
			<if test="status != null">
				STATUS,
			</if>
			<if test="inUser != null">
				IN_USER,
			</if>
			<if test="inTime != null">
				IN_TIME,
			</if>
			<if test="stexaUser != null">
				STEXA_USER,
			</if>
			<if test="stexaTime != null">
				STEXA_TIME,
			</if>
			<if test="stexaOpt != null">
				STEXA_OPT,
			</if>
			<if test="cvlexaUser != null">
				CVLEXA_USER,
			</if>
			<if test="cvlexaTime != null">
				CVLEXA_TIME,
			</if>
			<if test="cvlexaOpt != null">
				CVLEXA_OPT,
			</if>
			<if test="notes != null">
				NOTES,
			</if>
			<if test="remarks != null">
				REMARKS,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="merchId != null">
				#{merchId,jdbcType=INTEGER},
			</if>
			<if test="memId != null">
				#{memId,jdbcType=DECIMAL},
			</if>
			<if test="memberId != null">
				#{memberId,jdbcType=VARCHAR},
			</if>
			<if test="memberName != null">
				#{memberName,jdbcType=VARCHAR},
			</if>
			<if test="address != null">
				#{address,jdbcType=VARCHAR},
			</if>
			<if test="postCode != null">
				#{postCode,jdbcType=VARCHAR},
			</if>
			<if test="contact != null">
				#{contact,jdbcType=VARCHAR},
			</if>
			<if test="contPhone != null">
				#{contPhone,jdbcType=VARCHAR},
			</if>
			<if test="contAddress != null">
				#{contAddress,jdbcType=VARCHAR},
			</if>
			<if test="contPost != null">
				#{contPost,jdbcType=VARCHAR},
			</if>
			<if test="contEmail != null">
				#{contEmail,jdbcType=VARCHAR},
			</if>
			<if test="riskVer != null">
				#{riskVer,jdbcType=VARCHAR},
			</if>
			<if test="routVer != null">
				#{routVer,jdbcType=VARCHAR},
			</if>
			<if test="cacode != null">
				#{cacode,jdbcType=VARCHAR},
			</if>
			<if test="mcc != null">
				#{mcc,jdbcType=VARCHAR},
			</if>
			<if test="mccList != null">
				#{mccList,jdbcType=VARCHAR},
			</if>
			<if test="transfactors != null">
				#{transfactors,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				#{status,jdbcType=VARCHAR},
			</if>
			<if test="inUser != null">
				#{inUser,jdbcType=DECIMAL},
			</if>
			<if test="inTime != null">
				#{inTime,jdbcType=TIMESTAMP},
			</if>
			<if test="stexaUser != null">
				#{stexaUser,jdbcType=DECIMAL},
			</if>
			<if test="stexaTime != null">
				#{stexaTime,jdbcType=TIMESTAMP},
			</if>
			<if test="stexaOpt != null">
				#{stexaOpt,jdbcType=VARCHAR},
			</if>
			<if test="cvlexaUser != null">
				#{cvlexaUser,jdbcType=DECIMAL},
			</if>
			<if test="cvlexaTime != null">
				#{cvlexaTime,jdbcType=TIMESTAMP},
			</if>
			<if test="cvlexaOpt != null">
				#{cvlexaOpt,jdbcType=VARCHAR},
			</if>
			<if test="notes != null">
				#{notes,jdbcType=VARCHAR},
			</if>
			<if test="remarks != null">
				#{remarks,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<select id="countByExample" parameterType="com.unionpay.withhold.admin.pojo.TMerchDetaExample"
		resultType="java.lang.Integer">
		select count(*) from t_merch_deta
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</select>
	<update id="updateByExampleSelective" parameterType="map">
		update t_merch_deta
		<set>
			<if test="record.merchId != null">
				MERCH_ID = #{record.merchId,jdbcType=INTEGER},
			</if>
			<if test="record.memId != null">
				MEM_ID = #{record.memId,jdbcType=DECIMAL},
			</if>
			<if test="record.memberId != null">
				MEMBER_ID = #{record.memberId,jdbcType=VARCHAR},
			</if>
			<if test="record.memberName != null">
				MEMBER_NAME = #{record.memberName,jdbcType=VARCHAR},
			</if>
			<if test="record.address != null">
				ADDRESS = #{record.address,jdbcType=VARCHAR},
			</if>
			<if test="record.postCode != null">
				POST_CODE = #{record.postCode,jdbcType=VARCHAR},
			</if>
			<if test="record.contact != null">
				CONTACT = #{record.contact,jdbcType=VARCHAR},
			</if>
			<if test="record.contPhone != null">
				CONT_PHONE = #{record.contPhone,jdbcType=VARCHAR},
			</if>
			<if test="record.contAddress != null">
				CONT_ADDRESS = #{record.contAddress,jdbcType=VARCHAR},
			</if>
			<if test="record.contPost != null">
				CONT_POST = #{record.contPost,jdbcType=VARCHAR},
			</if>
			<if test="record.contEmail != null">
				CONT_EMAIL = #{record.contEmail,jdbcType=VARCHAR},
			</if>
			<if test="record.riskVer != null">
				RISK_VER = #{record.riskVer,jdbcType=VARCHAR},
			</if>
			<if test="record.routVer != null">
				ROUT_VER = #{record.routVer,jdbcType=VARCHAR},
			</if>
			<if test="record.cacode != null">
				CACODE = #{record.cacode,jdbcType=VARCHAR},
			</if>
			<if test="record.mcc != null">
				MCC = #{record.mcc,jdbcType=VARCHAR},
			</if>
			<if test="record.mccList != null">
				MCC_LIST = #{record.mccList,jdbcType=VARCHAR},
			</if>
			<if test="record.transfactors != null">
				TRANSFACTORS = #{record.transfactors,jdbcType=VARCHAR},
			</if>
			<if test="record.status != null">
				STATUS = #{record.status,jdbcType=VARCHAR},
			</if>
			<if test="record.inUser != null">
				IN_USER = #{record.inUser,jdbcType=DECIMAL},
			</if>
			<if test="record.inTime != null">
				IN_TIME = #{record.inTime,jdbcType=TIMESTAMP},
			</if>
			<if test="record.stexaUser != null">
				STEXA_USER = #{record.stexaUser,jdbcType=DECIMAL},
			</if>
			<if test="record.stexaTime != null">
				STEXA_TIME = #{record.stexaTime,jdbcType=TIMESTAMP},
			</if>
			<if test="record.stexaOpt != null">
				STEXA_OPT = #{record.stexaOpt,jdbcType=VARCHAR},
			</if>
			<if test="record.cvlexaUser != null">
				CVLEXA_USER = #{record.cvlexaUser,jdbcType=DECIMAL},
			</if>
			<if test="record.cvlexaTime != null">
				CVLEXA_TIME = #{record.cvlexaTime,jdbcType=TIMESTAMP},
			</if>
			<if test="record.cvlexaOpt != null">
				CVLEXA_OPT = #{record.cvlexaOpt,jdbcType=VARCHAR},
			</if>
			<if test="record.notes != null">
				NOTES = #{record.notes,jdbcType=VARCHAR},
			</if>
			<if test="record.remarks != null">
				REMARKS = #{record.remarks,jdbcType=VARCHAR},
			</if>
		</set>
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByExample" parameterType="map">
		update t_merch_deta
		set MERCH_ID = #{record.merchId,jdbcType=INTEGER},
		MEM_ID = #{record.memId,jdbcType=DECIMAL},
		MEMBER_ID = #{record.memberId,jdbcType=VARCHAR},
		MEMBER_NAME = #{record.memberName,jdbcType=VARCHAR},
		ADDRESS = #{record.address,jdbcType=VARCHAR},
		POST_CODE = #{record.postCode,jdbcType=VARCHAR},
		CONTACT = #{record.contact,jdbcType=VARCHAR},
		CONT_PHONE = #{record.contPhone,jdbcType=VARCHAR},
		CONT_ADDRESS = #{record.contAddress,jdbcType=VARCHAR},
		CONT_POST = #{record.contPost,jdbcType=VARCHAR},
		CONT_EMAIL = #{record.contEmail,jdbcType=VARCHAR},
		RISK_VER = #{record.riskVer,jdbcType=VARCHAR},
		ROUT_VER = #{record.routVer,jdbcType=VARCHAR},
		CACODE = #{record.cacode,jdbcType=VARCHAR},
		MCC = #{record.mcc,jdbcType=VARCHAR},
		MCC_LIST = #{record.mccList,jdbcType=VARCHAR},
		TRANSFACTORS = #{record.transfactors,jdbcType=VARCHAR},
		STATUS = #{record.status,jdbcType=VARCHAR},
		IN_USER = #{record.inUser,jdbcType=DECIMAL},
		IN_TIME = #{record.inTime,jdbcType=TIMESTAMP},
		STEXA_USER = #{record.stexaUser,jdbcType=DECIMAL},
		STEXA_TIME = #{record.stexaTime,jdbcType=TIMESTAMP},
		STEXA_OPT = #{record.stexaOpt,jdbcType=VARCHAR},
		CVLEXA_USER = #{record.cvlexaUser,jdbcType=DECIMAL},
		CVLEXA_TIME = #{record.cvlexaTime,jdbcType=TIMESTAMP},
		CVLEXA_OPT = #{record.cvlexaOpt,jdbcType=VARCHAR},
		NOTES = #{record.notes,jdbcType=VARCHAR},
		REMARKS = #{record.remarks,jdbcType=VARCHAR}
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByPrimaryKeySelective" parameterType="com.unionpay.withhold.admin.pojo.TMerchDeta">
		update t_merch_deta
		<set>
			<if test="memId != null">
				MEM_ID = #{memId,jdbcType=DECIMAL},
			</if>
			<if test="memberId != null">
				MEMBER_ID = #{memberId,jdbcType=VARCHAR},
			</if>
			<if test="memberName != null">
				MEMBER_NAME = #{memberName,jdbcType=VARCHAR},
			</if>
			<if test="address != null">
				ADDRESS = #{address,jdbcType=VARCHAR},
			</if>
			<if test="postCode != null">
				POST_CODE = #{postCode,jdbcType=VARCHAR},
			</if>
			<if test="contact != null">
				CONTACT = #{contact,jdbcType=VARCHAR},
			</if>
			<if test="contPhone != null">
				CONT_PHONE = #{contPhone,jdbcType=VARCHAR},
			</if>
			<if test="contAddress != null">
				CONT_ADDRESS = #{contAddress,jdbcType=VARCHAR},
			</if>
			<if test="contPost != null">
				CONT_POST = #{contPost,jdbcType=VARCHAR},
			</if>
			<if test="contEmail != null">
				CONT_EMAIL = #{contEmail,jdbcType=VARCHAR},
			</if>
			<if test="riskVer != null">
				RISK_VER = #{riskVer,jdbcType=VARCHAR},
			</if>
			<if test="routVer != null">
				ROUT_VER = #{routVer,jdbcType=VARCHAR},
			</if>
			<if test="cacode != null">
				CACODE = #{cacode,jdbcType=VARCHAR},
			</if>
			<if test="mcc != null">
				MCC = #{mcc,jdbcType=VARCHAR},
			</if>
			<if test="mccList != null">
				MCC_LIST = #{mccList,jdbcType=VARCHAR},
			</if>
			<if test="transfactors != null">
				TRANSFACTORS = #{transfactors,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				STATUS = #{status,jdbcType=VARCHAR},
			</if>
			<if test="inUser != null">
				IN_USER = #{inUser,jdbcType=DECIMAL},
			</if>
			<if test="inTime != null">
				IN_TIME = #{inTime,jdbcType=TIMESTAMP},
			</if>
			<if test="stexaUser != null">
				STEXA_USER = #{stexaUser,jdbcType=DECIMAL},
			</if>
			<if test="stexaTime != null">
				STEXA_TIME = #{stexaTime,jdbcType=TIMESTAMP},
			</if>
			<if test="stexaOpt != null">
				STEXA_OPT = #{stexaOpt,jdbcType=VARCHAR},
			</if>
			<if test="cvlexaUser != null">
				CVLEXA_USER = #{cvlexaUser,jdbcType=DECIMAL},
			</if>
			<if test="cvlexaTime != null">
				CVLEXA_TIME = #{cvlexaTime,jdbcType=TIMESTAMP},
			</if>
			<if test="cvlexaOpt != null">
				CVLEXA_OPT = #{cvlexaOpt,jdbcType=VARCHAR},
			</if>
			<if test="notes != null">
				NOTES = #{notes,jdbcType=VARCHAR},
			</if>
			<if test="remarks != null">
				REMARKS = #{remarks,jdbcType=VARCHAR},
			</if>
		</set>
		where MERCH_ID = #{merchId,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.unionpay.withhold.admin.pojo.TMerchDeta">
		update t_merch_deta
		set MEM_ID = #{memId,jdbcType=DECIMAL},
		MEMBER_ID = #{memberId,jdbcType=VARCHAR},
		MEMBER_NAME = #{memberName,jdbcType=VARCHAR},
		ADDRESS = #{address,jdbcType=VARCHAR},
		POST_CODE = #{postCode,jdbcType=VARCHAR},
		CONTACT = #{contact,jdbcType=VARCHAR},
		CONT_PHONE = #{contPhone,jdbcType=VARCHAR},
		CONT_ADDRESS = #{contAddress,jdbcType=VARCHAR},
		CONT_POST = #{contPost,jdbcType=VARCHAR},
		CONT_EMAIL = #{contEmail,jdbcType=VARCHAR},
		RISK_VER = #{riskVer,jdbcType=VARCHAR},
		ROUT_VER = #{routVer,jdbcType=VARCHAR},
		CACODE = #{cacode,jdbcType=VARCHAR},
		MCC = #{mcc,jdbcType=VARCHAR},
		MCC_LIST = #{mccList,jdbcType=VARCHAR},
		TRANSFACTORS = #{transfactors,jdbcType=VARCHAR},
		STATUS = #{status,jdbcType=VARCHAR},
		IN_USER = #{inUser,jdbcType=DECIMAL},
		IN_TIME = #{inTime,jdbcType=TIMESTAMP},
		STEXA_USER = #{stexaUser,jdbcType=DECIMAL},
		STEXA_TIME = #{stexaTime,jdbcType=TIMESTAMP},
		STEXA_OPT = #{stexaOpt,jdbcType=VARCHAR},
		CVLEXA_USER = #{cvlexaUser,jdbcType=DECIMAL},
		CVLEXA_TIME = #{cvlexaTime,jdbcType=TIMESTAMP},
		CVLEXA_OPT = #{cvlexaOpt,jdbcType=VARCHAR},
		NOTES = #{notes,jdbcType=VARCHAR},
		REMARKS = #{remarks,jdbcType=VARCHAR}
		where MERCH_ID = #{merchId,jdbcType=INTEGER}
	</update>
	
	
	
	<select id="selectWithCondition" resultMap="BaseResultMap">
		SELECT
		md.*, ca.CANAME AS CANAME
		FROM
		t_merch_deta AS md
		LEFT JOIN
		t_coop_agency AS ca ON md.CACODE = ca.CACODE
		AND ca.`STATUS` = '00'
		<where>
			<if test="merchDeta.memberId != null and merchDeta.memberId !=''">
				AND md.MEMBER_ID = #{merchDeta.memberId}
			</if>
			<if test="merchDeta.memberName != null and merchDeta.memberName !=''">
				AND md.MEMBER_NAME = #{merchDeta.memberName}
			</if>
			<if test="merchDeta.cacode != null and merchDeta.cacode !=''">
				AND md.CACODE = #{merchDeta.cacode}
			</if>
			<if test="statuses != null ">
				And
				<foreach collection="statuses" item="status" open="md.STATUS IN("
					close=")" separator=",">
					#{status}
				</foreach>
			</if>
		</where>
		order by MERCH_ID DESC
		<if test="beginRow != null and pageSize != null">
			limit #{beginRow},#{pageSize}
		</if>
	</select>

	<select id="selectCountWithCondition" resultType="java.lang.Integer">
		SELECT COUNT(*) FROM t_merch_deta AS md
		<where>
			<if test="merchDeta.memberId != null and merchDeta.memberId !=''">
				AND md.MEMBER_ID = #{merchDeta.memberId}
			</if>
			<if test="merchDeta.memberName != null and merchDeta.memberName !=''">
				AND md.MEMBER_NAME = #{merchDeta.memberName}
			</if>
			<if test="merchDeta.cacode != null and merchDeta.cacode !=''">
				AND md.CACODE = #{merchDeta.cacode}
			</if>
			<if test="statuses != null ">
				And
				<foreach collection="statuses" item="status" open="md.STATUS IN("
					close=")" separator=",">
					#{status}
				</foreach>
			</if>
		</where>
	</select>
</mapper>