<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.unionpay.withhold.admin.mapper.TOrderCollectDetaMapper" >
  <resultMap id="BaseResultMap" type="com.unionpay.withhold.admin.pojo.TOrderCollectDeta" >
    <id column="TID" property="tid" jdbcType="DECIMAL" />
    <result column="BATCHTID" property="batchtid" jdbcType="DECIMAL" />
    <result column="BATCHNO" property="batchno" jdbcType="VARCHAR" />
    <result column="ORDERID" property="orderid" jdbcType="VARCHAR" />
    <result column="CURRENCYCODE" property="currencycode" jdbcType="VARCHAR" />
    <result column="AMT" property="amt" jdbcType="VARCHAR" />
    <result column="BANKCODE" property="bankcode" jdbcType="VARCHAR" />
    <result column="CARDNO" property="cardno" jdbcType="VARCHAR" />
    <result column="CUSTOMERNM" property="customernm" jdbcType="VARCHAR" />
    <result column="SUMMARY" property="summary" jdbcType="VARCHAR" />
    <result column="RESPCODE" property="respcode" jdbcType="VARCHAR" />
    <result column="RESPMSG" property="respmsg" jdbcType="VARCHAR" />
    <result column="RELATETRADETXN" property="relatetradetxn" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="VARCHAR" />
    <result column="NOTES" property="notes" jdbcType="VARCHAR" />
    <result column="REMARKS" property="remarks" jdbcType="VARCHAR" />
    <result column="CARDTYPE" property="cardtype" jdbcType="VARCHAR" />
    <result column="CERTIFTP" property="certiftp" jdbcType="VARCHAR" />
    <result column="CERTIFID" property="certifid" jdbcType="VARCHAR" />
    <result column="PHONENO" property="phoneno" jdbcType="VARCHAR" />
    <result column="CVN2" property="cvn2" jdbcType="VARCHAR" />
    <result column="EXPIRED" property="expired" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    TID, BATCHTID, BATCHNO, ORDERID, CURRENCYCODE, AMT, BANKCODE, CARDNO, CUSTOMERNM, 
    SUMMARY, RESPCODE, RESPMSG, RELATETRADETXN, STATUS, NOTES, REMARKS, CARDTYPE, CERTIFTP, 
    CERTIFID, PHONENO, CVN2, EXPIRED
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.unionpay.withhold.admin.pojo.TOrderCollectDetaExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_order_collect_deta
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    limit #{beginRow},#{pageSize}
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_order_collect_deta
    where TID = #{tid,jdbcType=DECIMAL}
  </select>
 

  <select id="countByExample" parameterType="com.unionpay.withhold.admin.pojo.TOrderCollectDetaExample" resultType="java.lang.Integer" >
    select count(*) from t_order_collect_deta
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <!-- 历史查询 -->
  <select id="selectByExample_bak" resultMap="BaseResultMap" parameterType="com.unionpay.withhold.admin.pojo.TOrderCollectDetaExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_order_collect_deta_bak
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    limit #{beginRow},#{pageSize}
  </select>
  <select id="countByExample_bak" parameterType="com.unionpay.withhold.admin.pojo.TOrderCollectDetaExample" resultType="java.lang.Integer" >
    select count(*) from t_order_collect_deta_bak
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
</mapper>