<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.unionpay.withhold.admin.mapper.TOrderCollectDetaMapper" >
  <resultMap id="BaseResultMap" type="com.unionpay.withhold.admin.pojo.TOrderCollectDeta" >
    <id column="TID" property="tid" jdbcType="DECIMAL" />
    <result column="BATCHTID" property="batchtid" jdbcType="DECIMAL" />
    <result column="BATCHNO" property="batchno" jdbcType="VARCHAR" />
    <result column="ORDERID" property="orderid" jdbcType="VARCHAR" />
    <result column="CURRENCYCODE" property="currencycode" jdbcType="VARCHAR" />
    <result column="AMT" property="amt" jdbcType="VARCHAR" />
    <result column="DEBTORBANK" property="debtorbank" jdbcType="VARCHAR" />
    <result column="DEBTORACCOUNT" property="debtoraccount" jdbcType="VARCHAR" />
    <result column="DEBTORNAME" property="debtorname" jdbcType="VARCHAR" />
    <result column="DEBTORCONSIGN" property="debtorconsign" jdbcType="VARCHAR" />
    <result column="CREDITORBANK" property="creditorbank" jdbcType="VARCHAR" />
    <result column="CREDITORACCOUNT" property="creditoraccount" jdbcType="VARCHAR" />
    <result column="CREDITORNAME" property="creditorname" jdbcType="VARCHAR" />
    <result column="PROPRIETARY" property="proprietary" jdbcType="VARCHAR" />
    <result column="SUMMARY" property="summary" jdbcType="VARCHAR" />
    <result column="RESPCODE" property="respcode" jdbcType="VARCHAR" />
    <result column="RESPMSG" property="respmsg" jdbcType="VARCHAR" />
    <result column="RELATETRADETXN" property="relatetradetxn" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="VARCHAR" />
    <result column="NOTES" property="notes" jdbcType="VARCHAR" />
    <result column="REMARKS" property="remarks" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    TID, BATCHTID, BATCHNO, ORDERID, CURRENCYCODE, AMT, DEBTORBANK, DEBTORACCOUNT, DEBTORNAME, 
    DEBTORCONSIGN, CREDITORBANK, CREDITORACCOUNT, CREDITORNAME, PROPRIETARY, SUMMARY, 
    RESPCODE, RESPMSG, RELATETRADETXN, STATUS, NOTES, REMARKS
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.unionpay.withhold.admin.pojo.TOrderCollectDetaExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_order_collect_deta
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_order_collect_deta
    where TID = #{tid,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_order_collect_deta
    where TID = #{tid,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="com.unionpay.withhold.admin.pojo.TOrderCollectDetaExample" >
    delete from t_order_collect_deta
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.unionpay.withhold.admin.pojo.TOrderCollectDeta" >
    insert into t_order_collect_deta (TID, BATCHTID, BATCHNO, 
      ORDERID, CURRENCYCODE, AMT, 
      DEBTORBANK, DEBTORACCOUNT, DEBTORNAME, 
      DEBTORCONSIGN, CREDITORBANK, CREDITORACCOUNT, 
      CREDITORNAME, PROPRIETARY, SUMMARY, 
      RESPCODE, RESPMSG, RELATETRADETXN, 
      STATUS, NOTES, REMARKS
      )
    values (#{tid,jdbcType=DECIMAL}, #{batchtid,jdbcType=DECIMAL}, #{batchno,jdbcType=VARCHAR}, 
      #{orderid,jdbcType=VARCHAR}, #{currencycode,jdbcType=VARCHAR}, #{amt,jdbcType=VARCHAR}, 
      #{debtorbank,jdbcType=VARCHAR}, #{debtoraccount,jdbcType=VARCHAR}, #{debtorname,jdbcType=VARCHAR}, 
      #{debtorconsign,jdbcType=VARCHAR}, #{creditorbank,jdbcType=VARCHAR}, #{creditoraccount,jdbcType=VARCHAR}, 
      #{creditorname,jdbcType=VARCHAR}, #{proprietary,jdbcType=VARCHAR}, #{summary,jdbcType=VARCHAR}, 
      #{respcode,jdbcType=VARCHAR}, #{respmsg,jdbcType=VARCHAR}, #{relatetradetxn,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR}, #{notes,jdbcType=VARCHAR}, #{remarks,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.unionpay.withhold.admin.pojo.TOrderCollectDeta" >
    insert into t_order_collect_deta
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tid != null" >
        TID,
      </if>
      <if test="batchtid != null" >
        BATCHTID,
      </if>
      <if test="batchno != null" >
        BATCHNO,
      </if>
      <if test="orderid != null" >
        ORDERID,
      </if>
      <if test="currencycode != null" >
        CURRENCYCODE,
      </if>
      <if test="amt != null" >
        AMT,
      </if>
      <if test="debtorbank != null" >
        DEBTORBANK,
      </if>
      <if test="debtoraccount != null" >
        DEBTORACCOUNT,
      </if>
      <if test="debtorname != null" >
        DEBTORNAME,
      </if>
      <if test="debtorconsign != null" >
        DEBTORCONSIGN,
      </if>
      <if test="creditorbank != null" >
        CREDITORBANK,
      </if>
      <if test="creditoraccount != null" >
        CREDITORACCOUNT,
      </if>
      <if test="creditorname != null" >
        CREDITORNAME,
      </if>
      <if test="proprietary != null" >
        PROPRIETARY,
      </if>
      <if test="summary != null" >
        SUMMARY,
      </if>
      <if test="respcode != null" >
        RESPCODE,
      </if>
      <if test="respmsg != null" >
        RESPMSG,
      </if>
      <if test="relatetradetxn != null" >
        RELATETRADETXN,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="notes != null" >
        NOTES,
      </if>
      <if test="remarks != null" >
        REMARKS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tid != null" >
        #{tid,jdbcType=DECIMAL},
      </if>
      <if test="batchtid != null" >
        #{batchtid,jdbcType=DECIMAL},
      </if>
      <if test="batchno != null" >
        #{batchno,jdbcType=VARCHAR},
      </if>
      <if test="orderid != null" >
        #{orderid,jdbcType=VARCHAR},
      </if>
      <if test="currencycode != null" >
        #{currencycode,jdbcType=VARCHAR},
      </if>
      <if test="amt != null" >
        #{amt,jdbcType=VARCHAR},
      </if>
      <if test="debtorbank != null" >
        #{debtorbank,jdbcType=VARCHAR},
      </if>
      <if test="debtoraccount != null" >
        #{debtoraccount,jdbcType=VARCHAR},
      </if>
      <if test="debtorname != null" >
        #{debtorname,jdbcType=VARCHAR},
      </if>
      <if test="debtorconsign != null" >
        #{debtorconsign,jdbcType=VARCHAR},
      </if>
      <if test="creditorbank != null" >
        #{creditorbank,jdbcType=VARCHAR},
      </if>
      <if test="creditoraccount != null" >
        #{creditoraccount,jdbcType=VARCHAR},
      </if>
      <if test="creditorname != null" >
        #{creditorname,jdbcType=VARCHAR},
      </if>
      <if test="proprietary != null" >
        #{proprietary,jdbcType=VARCHAR},
      </if>
      <if test="summary != null" >
        #{summary,jdbcType=VARCHAR},
      </if>
      <if test="respcode != null" >
        #{respcode,jdbcType=VARCHAR},
      </if>
      <if test="respmsg != null" >
        #{respmsg,jdbcType=VARCHAR},
      </if>
      <if test="relatetradetxn != null" >
        #{relatetradetxn,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="notes != null" >
        #{notes,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.unionpay.withhold.admin.pojo.TOrderCollectDetaExample" resultType="java.lang.Integer" >
    select count(*) from t_order_collect_deta
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_order_collect_deta
    <set >
      <if test="record.tid != null" >
        TID = #{record.tid,jdbcType=DECIMAL},
      </if>
      <if test="record.batchtid != null" >
        BATCHTID = #{record.batchtid,jdbcType=DECIMAL},
      </if>
      <if test="record.batchno != null" >
        BATCHNO = #{record.batchno,jdbcType=VARCHAR},
      </if>
      <if test="record.orderid != null" >
        ORDERID = #{record.orderid,jdbcType=VARCHAR},
      </if>
      <if test="record.currencycode != null" >
        CURRENCYCODE = #{record.currencycode,jdbcType=VARCHAR},
      </if>
      <if test="record.amt != null" >
        AMT = #{record.amt,jdbcType=VARCHAR},
      </if>
      <if test="record.debtorbank != null" >
        DEBTORBANK = #{record.debtorbank,jdbcType=VARCHAR},
      </if>
      <if test="record.debtoraccount != null" >
        DEBTORACCOUNT = #{record.debtoraccount,jdbcType=VARCHAR},
      </if>
      <if test="record.debtorname != null" >
        DEBTORNAME = #{record.debtorname,jdbcType=VARCHAR},
      </if>
      <if test="record.debtorconsign != null" >
        DEBTORCONSIGN = #{record.debtorconsign,jdbcType=VARCHAR},
      </if>
      <if test="record.creditorbank != null" >
        CREDITORBANK = #{record.creditorbank,jdbcType=VARCHAR},
      </if>
      <if test="record.creditoraccount != null" >
        CREDITORACCOUNT = #{record.creditoraccount,jdbcType=VARCHAR},
      </if>
      <if test="record.creditorname != null" >
        CREDITORNAME = #{record.creditorname,jdbcType=VARCHAR},
      </if>
      <if test="record.proprietary != null" >
        PROPRIETARY = #{record.proprietary,jdbcType=VARCHAR},
      </if>
      <if test="record.summary != null" >
        SUMMARY = #{record.summary,jdbcType=VARCHAR},
      </if>
      <if test="record.respcode != null" >
        RESPCODE = #{record.respcode,jdbcType=VARCHAR},
      </if>
      <if test="record.respmsg != null" >
        RESPMSG = #{record.respmsg,jdbcType=VARCHAR},
      </if>
      <if test="record.relatetradetxn != null" >
        RELATETRADETXN = #{record.relatetradetxn,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        STATUS = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.notes != null" >
        NOTES = #{record.notes,jdbcType=VARCHAR},
      </if>
      <if test="record.remarks != null" >
        REMARKS = #{record.remarks,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_order_collect_deta
    set TID = #{record.tid,jdbcType=DECIMAL},
      BATCHTID = #{record.batchtid,jdbcType=DECIMAL},
      BATCHNO = #{record.batchno,jdbcType=VARCHAR},
      ORDERID = #{record.orderid,jdbcType=VARCHAR},
      CURRENCYCODE = #{record.currencycode,jdbcType=VARCHAR},
      AMT = #{record.amt,jdbcType=VARCHAR},
      DEBTORBANK = #{record.debtorbank,jdbcType=VARCHAR},
      DEBTORACCOUNT = #{record.debtoraccount,jdbcType=VARCHAR},
      DEBTORNAME = #{record.debtorname,jdbcType=VARCHAR},
      DEBTORCONSIGN = #{record.debtorconsign,jdbcType=VARCHAR},
      CREDITORBANK = #{record.creditorbank,jdbcType=VARCHAR},
      CREDITORACCOUNT = #{record.creditoraccount,jdbcType=VARCHAR},
      CREDITORNAME = #{record.creditorname,jdbcType=VARCHAR},
      PROPRIETARY = #{record.proprietary,jdbcType=VARCHAR},
      SUMMARY = #{record.summary,jdbcType=VARCHAR},
      RESPCODE = #{record.respcode,jdbcType=VARCHAR},
      RESPMSG = #{record.respmsg,jdbcType=VARCHAR},
      RELATETRADETXN = #{record.relatetradetxn,jdbcType=VARCHAR},
      STATUS = #{record.status,jdbcType=VARCHAR},
      NOTES = #{record.notes,jdbcType=VARCHAR},
      REMARKS = #{record.remarks,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.unionpay.withhold.admin.pojo.TOrderCollectDeta" >
    update t_order_collect_deta
    <set >
      <if test="batchtid != null" >
        BATCHTID = #{batchtid,jdbcType=DECIMAL},
      </if>
      <if test="batchno != null" >
        BATCHNO = #{batchno,jdbcType=VARCHAR},
      </if>
      <if test="orderid != null" >
        ORDERID = #{orderid,jdbcType=VARCHAR},
      </if>
      <if test="currencycode != null" >
        CURRENCYCODE = #{currencycode,jdbcType=VARCHAR},
      </if>
      <if test="amt != null" >
        AMT = #{amt,jdbcType=VARCHAR},
      </if>
      <if test="debtorbank != null" >
        DEBTORBANK = #{debtorbank,jdbcType=VARCHAR},
      </if>
      <if test="debtoraccount != null" >
        DEBTORACCOUNT = #{debtoraccount,jdbcType=VARCHAR},
      </if>
      <if test="debtorname != null" >
        DEBTORNAME = #{debtorname,jdbcType=VARCHAR},
      </if>
      <if test="debtorconsign != null" >
        DEBTORCONSIGN = #{debtorconsign,jdbcType=VARCHAR},
      </if>
      <if test="creditorbank != null" >
        CREDITORBANK = #{creditorbank,jdbcType=VARCHAR},
      </if>
      <if test="creditoraccount != null" >
        CREDITORACCOUNT = #{creditoraccount,jdbcType=VARCHAR},
      </if>
      <if test="creditorname != null" >
        CREDITORNAME = #{creditorname,jdbcType=VARCHAR},
      </if>
      <if test="proprietary != null" >
        PROPRIETARY = #{proprietary,jdbcType=VARCHAR},
      </if>
      <if test="summary != null" >
        SUMMARY = #{summary,jdbcType=VARCHAR},
      </if>
      <if test="respcode != null" >
        RESPCODE = #{respcode,jdbcType=VARCHAR},
      </if>
      <if test="respmsg != null" >
        RESPMSG = #{respmsg,jdbcType=VARCHAR},
      </if>
      <if test="relatetradetxn != null" >
        RELATETRADETXN = #{relatetradetxn,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
      <if test="notes != null" >
        NOTES = #{notes,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null" >
        REMARKS = #{remarks,jdbcType=VARCHAR},
      </if>
    </set>
    where TID = #{tid,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.unionpay.withhold.admin.pojo.TOrderCollectDeta" >
    update t_order_collect_deta
    set BATCHTID = #{batchtid,jdbcType=DECIMAL},
      BATCHNO = #{batchno,jdbcType=VARCHAR},
      ORDERID = #{orderid,jdbcType=VARCHAR},
      CURRENCYCODE = #{currencycode,jdbcType=VARCHAR},
      AMT = #{amt,jdbcType=VARCHAR},
      DEBTORBANK = #{debtorbank,jdbcType=VARCHAR},
      DEBTORACCOUNT = #{debtoraccount,jdbcType=VARCHAR},
      DEBTORNAME = #{debtorname,jdbcType=VARCHAR},
      DEBTORCONSIGN = #{debtorconsign,jdbcType=VARCHAR},
      CREDITORBANK = #{creditorbank,jdbcType=VARCHAR},
      CREDITORACCOUNT = #{creditoraccount,jdbcType=VARCHAR},
      CREDITORNAME = #{creditorname,jdbcType=VARCHAR},
      PROPRIETARY = #{proprietary,jdbcType=VARCHAR},
      SUMMARY = #{summary,jdbcType=VARCHAR},
      RESPCODE = #{respcode,jdbcType=VARCHAR},
      RESPMSG = #{respmsg,jdbcType=VARCHAR},
      RELATETRADETXN = #{relatetradetxn,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=VARCHAR},
      NOTES = #{notes,jdbcType=VARCHAR},
      REMARKS = #{remarks,jdbcType=VARCHAR}
    where TID = #{tid,jdbcType=DECIMAL}
  </update>
</mapper>