<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.unionpay.withhold.admin.mapper.TRateAccumMapper" >
  <resultMap id="BaseResultMap" type="com.unionpay.withhold.admin.pojo.TRateAccum" >
    <id column="TID" property="tid" jdbcType="DECIMAL" />
    <result column="RATE_ID" property="rateId" jdbcType="DECIMAL" />
    <result column="RATE_DESC" property="rateDesc" jdbcType="VARCHAR" />
    <result column="ACCMODE" property="accmode" jdbcType="DECIMAL" />
    <result column="ACCOBJ" property="accobj" jdbcType="VARCHAR" />
    <result column="SERVICEFEE" property="servicefee" jdbcType="DECIMAL" />
    <result column="NOTES" property="notes" jdbcType="VARCHAR" />
    <result column="REMARKS" property="remarks" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    TID, RATE_ID, RATE_DESC, ACCMODE, ACCOBJ, SERVICEFEE, NOTES, REMARKS
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.unionpay.withhold.admin.pojo.TRateAccumExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_rate_accum
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_rate_accum
    where TID = #{tid,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_rate_accum
    where TID = #{tid,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="com.unionpay.withhold.admin.pojo.TRateAccumExample" >
    delete from t_rate_accum
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.unionpay.withhold.admin.pojo.TRateAccum" >
    insert into t_rate_accum (TID, RATE_ID, RATE_DESC, 
      ACCMODE, ACCOBJ, SERVICEFEE, 
      NOTES, REMARKS)
    values (#{tid,jdbcType=DECIMAL}, #{rateId,jdbcType=DECIMAL}, #{rateDesc,jdbcType=VARCHAR}, 
      #{accmode,jdbcType=DECIMAL}, #{accobj,jdbcType=VARCHAR}, #{servicefee,jdbcType=DECIMAL}, 
      #{notes,jdbcType=VARCHAR}, #{remarks,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.unionpay.withhold.admin.pojo.TRateAccum" >
    insert into t_rate_accum
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tid != null" >
        TID,
      </if>
      <if test="rateId != null" >
        RATE_ID,
      </if>
      <if test="rateDesc != null" >
        RATE_DESC,
      </if>
      <if test="accmode != null" >
        ACCMODE,
      </if>
      <if test="accobj != null" >
        ACCOBJ,
      </if>
      <if test="servicefee != null" >
        SERVICEFEE,
      </if>
      <if test="notes != null" >
        NOTES,
      </if>
      <if test="remarks != null" >
        REMARKS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tid != null" >
        #{tid,jdbcType=DECIMAL},
      </if>
      <if test="rateId != null" >
        #{rateId,jdbcType=DECIMAL},
      </if>
      <if test="rateDesc != null" >
        #{rateDesc,jdbcType=VARCHAR},
      </if>
      <if test="accmode != null" >
        #{accmode,jdbcType=DECIMAL},
      </if>
      <if test="accobj != null" >
        #{accobj,jdbcType=VARCHAR},
      </if>
      <if test="servicefee != null" >
        #{servicefee,jdbcType=DECIMAL},
      </if>
      <if test="notes != null" >
        #{notes,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.unionpay.withhold.admin.pojo.TRateAccumExample" resultType="java.lang.Integer" >
    select count(*) from t_rate_accum
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_rate_accum
    <set >
      <if test="record.tid != null" >
        TID = #{record.tid,jdbcType=DECIMAL},
      </if>
      <if test="record.rateId != null" >
        RATE_ID = #{record.rateId,jdbcType=DECIMAL},
      </if>
      <if test="record.rateDesc != null" >
        RATE_DESC = #{record.rateDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.accmode != null" >
        ACCMODE = #{record.accmode,jdbcType=DECIMAL},
      </if>
      <if test="record.accobj != null" >
        ACCOBJ = #{record.accobj,jdbcType=VARCHAR},
      </if>
      <if test="record.servicefee != null" >
        SERVICEFEE = #{record.servicefee,jdbcType=DECIMAL},
      </if>
      <if test="record.notes != null" >
        NOTES = #{record.notes,jdbcType=VARCHAR},
      </if>
      <if test="record.remarks != null" >
        REMARKS = #{record.remarks,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_rate_accum
    set TID = #{record.tid,jdbcType=DECIMAL},
      RATE_ID = #{record.rateId,jdbcType=DECIMAL},
      RATE_DESC = #{record.rateDesc,jdbcType=VARCHAR},
      ACCMODE = #{record.accmode,jdbcType=DECIMAL},
      ACCOBJ = #{record.accobj,jdbcType=VARCHAR},
      SERVICEFEE = #{record.servicefee,jdbcType=DECIMAL},
      NOTES = #{record.notes,jdbcType=VARCHAR},
      REMARKS = #{record.remarks,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.unionpay.withhold.admin.pojo.TRateAccum" >
    update t_rate_accum
    <set >
      <if test="rateId != null" >
        RATE_ID = #{rateId,jdbcType=DECIMAL},
      </if>
      <if test="rateDesc != null" >
        RATE_DESC = #{rateDesc,jdbcType=VARCHAR},
      </if>
      <if test="accmode != null" >
        ACCMODE = #{accmode,jdbcType=DECIMAL},
      </if>
      <if test="accobj != null" >
        ACCOBJ = #{accobj,jdbcType=VARCHAR},
      </if>
      <if test="servicefee != null" >
        SERVICEFEE = #{servicefee,jdbcType=DECIMAL},
      </if>
      <if test="notes != null" >
        NOTES = #{notes,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null" >
        REMARKS = #{remarks,jdbcType=VARCHAR},
      </if>
    </set>
    where TID = #{tid,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.unionpay.withhold.admin.pojo.TRateAccum" >
    update t_rate_accum
    set RATE_ID = #{rateId,jdbcType=DECIMAL},
      RATE_DESC = #{rateDesc,jdbcType=VARCHAR},
      ACCMODE = #{accmode,jdbcType=DECIMAL},
      ACCOBJ = #{accobj,jdbcType=VARCHAR},
      SERVICEFEE = #{servicefee,jdbcType=DECIMAL},
      NOTES = #{notes,jdbcType=VARCHAR},
      REMARKS = #{remarks,jdbcType=VARCHAR}
    where TID = #{tid,jdbcType=DECIMAL}
  </update>
</mapper>