<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.unionpay.withhold.admin.mapper.TRiskTradeLogMapper" >
  <resultMap id="BaseResultMap" type="com.unionpay.withhold.admin.pojo.TRiskTradeLog" >
    <id column="TID" property="tid" jdbcType="INTEGER" />
    <result column="RISK_TRADE_TYPE" property="riskTradeType" jdbcType="INTEGER" />
    <result column="TXNSEQNO" property="txnseqno" jdbcType="VARCHAR" />
    <result column="ORDERNO" property="orderno" jdbcType="VARCHAR" />
    <result column="MERCHNO" property="merchno" jdbcType="VARCHAR" />
    <result column="MERCHNAME" property="merchname" jdbcType="VARCHAR" />
    <result column="CACODE" property="cacode" jdbcType="VARCHAR" />
    <result column="CANAME" property="caname" jdbcType="VARCHAR" />
    <result column="CHNLCODE" property="chnlcode" jdbcType="VARCHAR" />
    <result column="CHNLNAME" property="chnlname" jdbcType="VARCHAR" />
    <result column="AMOUNT" property="amount" jdbcType="DECIMAL" />
    <result column="PAN" property="pan" jdbcType="VARCHAR" />
    <result column="TRADE_RISK_LEVEL" property="tradeRiskLevel" jdbcType="INTEGER" />
    <result column="CARD_ISSUER_CODE" property="cardIssuerCode" jdbcType="VARCHAR" />
    <result column="CARD_ISSUER_NAME" property="cardIssuerName" jdbcType="VARCHAR" />
    <result column="ACQDATETIME" property="acqdatetime" jdbcType="VARCHAR" />
    <result column="BUSICODE" property="busicode" jdbcType="VARCHAR" />
    <result column="BUSITYPE" property="busitype" jdbcType="VARCHAR" />
    <result column="RESINFO" property="resinfo" jdbcType="VARCHAR" />
    <result column="RESCODE" property="rescode" jdbcType="VARCHAR" />
    <result column="STRATEGY" property="strategy" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    TID, RISK_TRADE_TYPE, TXNSEQNO, ORDERNO, MERCHNO, MERCHNAME, CACODE, CANAME, CHNLCODE, 
    CHNLNAME, AMOUNT, PAN, TRADE_RISK_LEVEL, CARD_ISSUER_CODE, CARD_ISSUER_NAME, ACQDATETIME, 
    BUSICODE, BUSITYPE, RESINFO, RESCODE, STRATEGY
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.unionpay.withhold.admin.pojo.TRiskTradeLogExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_risk_trade_log
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_risk_trade_log
    where TID = #{tid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_risk_trade_log
    where TID = #{tid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.unionpay.withhold.admin.pojo.TRiskTradeLogExample" >
    delete from t_risk_trade_log
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.unionpay.withhold.admin.pojo.TRiskTradeLog" >
    insert into t_risk_trade_log (TID, RISK_TRADE_TYPE, TXNSEQNO, 
      ORDERNO, MERCHNO, MERCHNAME, 
      CACODE, CANAME, CHNLCODE, 
      CHNLNAME, AMOUNT, PAN, 
      TRADE_RISK_LEVEL, CARD_ISSUER_CODE, CARD_ISSUER_NAME, 
      ACQDATETIME, BUSICODE, BUSITYPE, 
      RESINFO, RESCODE, STRATEGY
      )
    values (#{tid,jdbcType=INTEGER}, #{riskTradeType,jdbcType=INTEGER}, #{txnseqno,jdbcType=VARCHAR}, 
      #{orderno,jdbcType=VARCHAR}, #{merchno,jdbcType=VARCHAR}, #{merchname,jdbcType=VARCHAR}, 
      #{cacode,jdbcType=VARCHAR}, #{caname,jdbcType=VARCHAR}, #{chnlcode,jdbcType=VARCHAR}, 
      #{chnlname,jdbcType=VARCHAR}, #{amount,jdbcType=DECIMAL}, #{pan,jdbcType=VARCHAR}, 
      #{tradeRiskLevel,jdbcType=INTEGER}, #{cardIssuerCode,jdbcType=VARCHAR}, #{cardIssuerName,jdbcType=VARCHAR}, 
      #{acqdatetime,jdbcType=VARCHAR}, #{busicode,jdbcType=VARCHAR}, #{busitype,jdbcType=VARCHAR}, 
      #{resinfo,jdbcType=VARCHAR}, #{rescode,jdbcType=VARCHAR}, #{strategy,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.unionpay.withhold.admin.pojo.TRiskTradeLog" >
    insert into t_risk_trade_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tid != null" >
        TID,
      </if>
      <if test="riskTradeType != null" >
        RISK_TRADE_TYPE,
      </if>
      <if test="txnseqno != null" >
        TXNSEQNO,
      </if>
      <if test="orderno != null" >
        ORDERNO,
      </if>
      <if test="merchno != null" >
        MERCHNO,
      </if>
      <if test="merchname != null" >
        MERCHNAME,
      </if>
      <if test="cacode != null" >
        CACODE,
      </if>
      <if test="caname != null" >
        CANAME,
      </if>
      <if test="chnlcode != null" >
        CHNLCODE,
      </if>
      <if test="chnlname != null" >
        CHNLNAME,
      </if>
      <if test="amount != null" >
        AMOUNT,
      </if>
      <if test="pan != null" >
        PAN,
      </if>
      <if test="tradeRiskLevel != null" >
        TRADE_RISK_LEVEL,
      </if>
      <if test="cardIssuerCode != null" >
        CARD_ISSUER_CODE,
      </if>
      <if test="cardIssuerName != null" >
        CARD_ISSUER_NAME,
      </if>
      <if test="acqdatetime != null" >
        ACQDATETIME,
      </if>
      <if test="busicode != null" >
        BUSICODE,
      </if>
      <if test="busitype != null" >
        BUSITYPE,
      </if>
      <if test="resinfo != null" >
        RESINFO,
      </if>
      <if test="rescode != null" >
        RESCODE,
      </if>
      <if test="strategy != null" >
        STRATEGY,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tid != null" >
        #{tid,jdbcType=INTEGER},
      </if>
      <if test="riskTradeType != null" >
        #{riskTradeType,jdbcType=INTEGER},
      </if>
      <if test="txnseqno != null" >
        #{txnseqno,jdbcType=VARCHAR},
      </if>
      <if test="orderno != null" >
        #{orderno,jdbcType=VARCHAR},
      </if>
      <if test="merchno != null" >
        #{merchno,jdbcType=VARCHAR},
      </if>
      <if test="merchname != null" >
        #{merchname,jdbcType=VARCHAR},
      </if>
      <if test="cacode != null" >
        #{cacode,jdbcType=VARCHAR},
      </if>
      <if test="caname != null" >
        #{caname,jdbcType=VARCHAR},
      </if>
      <if test="chnlcode != null" >
        #{chnlcode,jdbcType=VARCHAR},
      </if>
      <if test="chnlname != null" >
        #{chnlname,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="pan != null" >
        #{pan,jdbcType=VARCHAR},
      </if>
      <if test="tradeRiskLevel != null" >
        #{tradeRiskLevel,jdbcType=INTEGER},
      </if>
      <if test="cardIssuerCode != null" >
        #{cardIssuerCode,jdbcType=VARCHAR},
      </if>
      <if test="cardIssuerName != null" >
        #{cardIssuerName,jdbcType=VARCHAR},
      </if>
      <if test="acqdatetime != null" >
        #{acqdatetime,jdbcType=VARCHAR},
      </if>
      <if test="busicode != null" >
        #{busicode,jdbcType=VARCHAR},
      </if>
      <if test="busitype != null" >
        #{busitype,jdbcType=VARCHAR},
      </if>
      <if test="resinfo != null" >
        #{resinfo,jdbcType=VARCHAR},
      </if>
      <if test="rescode != null" >
        #{rescode,jdbcType=VARCHAR},
      </if>
      <if test="strategy != null" >
        #{strategy,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.unionpay.withhold.admin.pojo.TRiskTradeLogExample" resultType="java.lang.Integer" >
    select count(*) from t_risk_trade_log
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_risk_trade_log
    <set >
      <if test="record.tid != null" >
        TID = #{record.tid,jdbcType=INTEGER},
      </if>
      <if test="record.riskTradeType != null" >
        RISK_TRADE_TYPE = #{record.riskTradeType,jdbcType=INTEGER},
      </if>
      <if test="record.txnseqno != null" >
        TXNSEQNO = #{record.txnseqno,jdbcType=VARCHAR},
      </if>
      <if test="record.orderno != null" >
        ORDERNO = #{record.orderno,jdbcType=VARCHAR},
      </if>
      <if test="record.merchno != null" >
        MERCHNO = #{record.merchno,jdbcType=VARCHAR},
      </if>
      <if test="record.merchname != null" >
        MERCHNAME = #{record.merchname,jdbcType=VARCHAR},
      </if>
      <if test="record.cacode != null" >
        CACODE = #{record.cacode,jdbcType=VARCHAR},
      </if>
      <if test="record.caname != null" >
        CANAME = #{record.caname,jdbcType=VARCHAR},
      </if>
      <if test="record.chnlcode != null" >
        CHNLCODE = #{record.chnlcode,jdbcType=VARCHAR},
      </if>
      <if test="record.chnlname != null" >
        CHNLNAME = #{record.chnlname,jdbcType=VARCHAR},
      </if>
      <if test="record.amount != null" >
        AMOUNT = #{record.amount,jdbcType=DECIMAL},
      </if>
      <if test="record.pan != null" >
        PAN = #{record.pan,jdbcType=VARCHAR},
      </if>
      <if test="record.tradeRiskLevel != null" >
        TRADE_RISK_LEVEL = #{record.tradeRiskLevel,jdbcType=INTEGER},
      </if>
      <if test="record.cardIssuerCode != null" >
        CARD_ISSUER_CODE = #{record.cardIssuerCode,jdbcType=VARCHAR},
      </if>
      <if test="record.cardIssuerName != null" >
        CARD_ISSUER_NAME = #{record.cardIssuerName,jdbcType=VARCHAR},
      </if>
      <if test="record.acqdatetime != null" >
        ACQDATETIME = #{record.acqdatetime,jdbcType=VARCHAR},
      </if>
      <if test="record.busicode != null" >
        BUSICODE = #{record.busicode,jdbcType=VARCHAR},
      </if>
      <if test="record.busitype != null" >
        BUSITYPE = #{record.busitype,jdbcType=VARCHAR},
      </if>
      <if test="record.resinfo != null" >
        RESINFO = #{record.resinfo,jdbcType=VARCHAR},
      </if>
      <if test="record.rescode != null" >
        RESCODE = #{record.rescode,jdbcType=VARCHAR},
      </if>
      <if test="record.strategy != null" >
        STRATEGY = #{record.strategy,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_risk_trade_log
    set TID = #{record.tid,jdbcType=INTEGER},
      RISK_TRADE_TYPE = #{record.riskTradeType,jdbcType=INTEGER},
      TXNSEQNO = #{record.txnseqno,jdbcType=VARCHAR},
      ORDERNO = #{record.orderno,jdbcType=VARCHAR},
      MERCHNO = #{record.merchno,jdbcType=VARCHAR},
      MERCHNAME = #{record.merchname,jdbcType=VARCHAR},
      CACODE = #{record.cacode,jdbcType=VARCHAR},
      CANAME = #{record.caname,jdbcType=VARCHAR},
      CHNLCODE = #{record.chnlcode,jdbcType=VARCHAR},
      CHNLNAME = #{record.chnlname,jdbcType=VARCHAR},
      AMOUNT = #{record.amount,jdbcType=DECIMAL},
      PAN = #{record.pan,jdbcType=VARCHAR},
      TRADE_RISK_LEVEL = #{record.tradeRiskLevel,jdbcType=INTEGER},
      CARD_ISSUER_CODE = #{record.cardIssuerCode,jdbcType=VARCHAR},
      CARD_ISSUER_NAME = #{record.cardIssuerName,jdbcType=VARCHAR},
      ACQDATETIME = #{record.acqdatetime,jdbcType=VARCHAR},
      BUSICODE = #{record.busicode,jdbcType=VARCHAR},
      BUSITYPE = #{record.busitype,jdbcType=VARCHAR},
      RESINFO = #{record.resinfo,jdbcType=VARCHAR},
      RESCODE = #{record.rescode,jdbcType=VARCHAR},
      STRATEGY = #{record.strategy,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.unionpay.withhold.admin.pojo.TRiskTradeLog" >
    update t_risk_trade_log
    <set >
      <if test="riskTradeType != null" >
        RISK_TRADE_TYPE = #{riskTradeType,jdbcType=INTEGER},
      </if>
      <if test="txnseqno != null" >
        TXNSEQNO = #{txnseqno,jdbcType=VARCHAR},
      </if>
      <if test="orderno != null" >
        ORDERNO = #{orderno,jdbcType=VARCHAR},
      </if>
      <if test="merchno != null" >
        MERCHNO = #{merchno,jdbcType=VARCHAR},
      </if>
      <if test="merchname != null" >
        MERCHNAME = #{merchname,jdbcType=VARCHAR},
      </if>
      <if test="cacode != null" >
        CACODE = #{cacode,jdbcType=VARCHAR},
      </if>
      <if test="caname != null" >
        CANAME = #{caname,jdbcType=VARCHAR},
      </if>
      <if test="chnlcode != null" >
        CHNLCODE = #{chnlcode,jdbcType=VARCHAR},
      </if>
      <if test="chnlname != null" >
        CHNLNAME = #{chnlname,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        AMOUNT = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="pan != null" >
        PAN = #{pan,jdbcType=VARCHAR},
      </if>
      <if test="tradeRiskLevel != null" >
        TRADE_RISK_LEVEL = #{tradeRiskLevel,jdbcType=INTEGER},
      </if>
      <if test="cardIssuerCode != null" >
        CARD_ISSUER_CODE = #{cardIssuerCode,jdbcType=VARCHAR},
      </if>
      <if test="cardIssuerName != null" >
        CARD_ISSUER_NAME = #{cardIssuerName,jdbcType=VARCHAR},
      </if>
      <if test="acqdatetime != null" >
        ACQDATETIME = #{acqdatetime,jdbcType=VARCHAR},
      </if>
      <if test="busicode != null" >
        BUSICODE = #{busicode,jdbcType=VARCHAR},
      </if>
      <if test="busitype != null" >
        BUSITYPE = #{busitype,jdbcType=VARCHAR},
      </if>
      <if test="resinfo != null" >
        RESINFO = #{resinfo,jdbcType=VARCHAR},
      </if>
      <if test="rescode != null" >
        RESCODE = #{rescode,jdbcType=VARCHAR},
      </if>
      <if test="strategy != null" >
        STRATEGY = #{strategy,jdbcType=VARCHAR},
      </if>
    </set>
    where TID = #{tid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.unionpay.withhold.admin.pojo.TRiskTradeLog" >
    update t_risk_trade_log
    set RISK_TRADE_TYPE = #{riskTradeType,jdbcType=INTEGER},
      TXNSEQNO = #{txnseqno,jdbcType=VARCHAR},
      ORDERNO = #{orderno,jdbcType=VARCHAR},
      MERCHNO = #{merchno,jdbcType=VARCHAR},
      MERCHNAME = #{merchname,jdbcType=VARCHAR},
      CACODE = #{cacode,jdbcType=VARCHAR},
      CANAME = #{caname,jdbcType=VARCHAR},
      CHNLCODE = #{chnlcode,jdbcType=VARCHAR},
      CHNLNAME = #{chnlname,jdbcType=VARCHAR},
      AMOUNT = #{amount,jdbcType=DECIMAL},
      PAN = #{pan,jdbcType=VARCHAR},
      TRADE_RISK_LEVEL = #{tradeRiskLevel,jdbcType=INTEGER},
      CARD_ISSUER_CODE = #{cardIssuerCode,jdbcType=VARCHAR},
      CARD_ISSUER_NAME = #{cardIssuerName,jdbcType=VARCHAR},
      ACQDATETIME = #{acqdatetime,jdbcType=VARCHAR},
      BUSICODE = #{busicode,jdbcType=VARCHAR},
      BUSITYPE = #{busitype,jdbcType=VARCHAR},
      RESINFO = #{resinfo,jdbcType=VARCHAR},
      RESCODE = #{rescode,jdbcType=VARCHAR},
      STRATEGY = #{strategy,jdbcType=VARCHAR}
    where TID = #{tid,jdbcType=INTEGER}
  </update>
</mapper>