<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.unionpay.withhold.admin.mapper.TRspmsgMapper">
  <resultMap id="BaseResultMap" type="com.unionpay.withhold.admin.pojo.TRspmsg">
    <id column="RSPID" jdbcType="INTEGER" property="rspid" />
    <result column="APICODE" jdbcType="VARCHAR" property="apicode" />
    <result column="APIINFO" jdbcType="VARCHAR" property="apiinfo" />
    <result column="RETCODE" jdbcType="VARCHAR" property="retcode" />
    <result column="RSPINFO" jdbcType="VARCHAR" property="rspinfo" />
    <result column="CHNLTYPE" jdbcType="VARCHAR" property="chnltype" />
    <result column="CHNLRSPCODE" jdbcType="VARCHAR" property="chnlrspcode" />
    <result column="REASON" jdbcType="VARCHAR" property="reason" />
    <result column="NOTES" jdbcType="VARCHAR" property="notes" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    RSPID, APICODE, APIINFO, RETCODE, RSPINFO, CHNLTYPE, CHNLRSPCODE, REASON, NOTES
  </sql>
  <select id="selectByExample" parameterType="com.unionpay.withhold.admin.pojo.TRspmsgExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_rspmsg
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    limit #{beginRow},#{pageSize}
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_rspmsg
    where RSPID = #{rspid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_rspmsg
    where RSPID = #{rspid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.unionpay.withhold.admin.pojo.TRspmsgExample">
    delete from t_rspmsg
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.unionpay.withhold.admin.pojo.TRspmsg">
    insert into t_rspmsg (RSPID, APICODE, APIINFO, 
      RETCODE, RSPINFO, CHNLTYPE, 
      CHNLRSPCODE, REASON, NOTES
      )
    values (#{rspid,jdbcType=INTEGER}, #{apicode,jdbcType=VARCHAR}, #{apiinfo,jdbcType=VARCHAR}, 
      #{retcode,jdbcType=VARCHAR}, #{rspinfo,jdbcType=VARCHAR}, #{chnltype,jdbcType=VARCHAR}, 
      #{chnlrspcode,jdbcType=VARCHAR}, #{reason,jdbcType=VARCHAR}, #{notes,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.unionpay.withhold.admin.pojo.TRspmsg">
    insert into t_rspmsg
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="rspid != null">
        RSPID,
      </if>
      <if test="apicode != null">
        APICODE,
      </if>
      <if test="apiinfo != null">
        APIINFO,
      </if>
      <if test="retcode != null">
        RETCODE,
      </if>
      <if test="rspinfo != null">
        RSPINFO,
      </if>
      <if test="chnltype != null">
        CHNLTYPE,
      </if>
      <if test="chnlrspcode != null">
        CHNLRSPCODE,
      </if>
      <if test="reason != null">
        REASON,
      </if>
      <if test="notes != null">
        NOTES,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="rspid != null">
        #{rspid,jdbcType=INTEGER},
      </if>
      <if test="apicode != null">
        #{apicode,jdbcType=VARCHAR},
      </if>
      <if test="apiinfo != null">
        #{apiinfo,jdbcType=VARCHAR},
      </if>
      <if test="retcode != null">
        #{retcode,jdbcType=VARCHAR},
      </if>
      <if test="rspinfo != null">
        #{rspinfo,jdbcType=VARCHAR},
      </if>
      <if test="chnltype != null">
        #{chnltype,jdbcType=VARCHAR},
      </if>
      <if test="chnlrspcode != null">
        #{chnlrspcode,jdbcType=VARCHAR},
      </if>
      <if test="reason != null">
        #{reason,jdbcType=VARCHAR},
      </if>
      <if test="notes != null">
        #{notes,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.unionpay.withhold.admin.pojo.TRspmsgExample" resultType="java.lang.Integer">
    select count(*) from t_rspmsg
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_rspmsg
    <set>
      <if test="record.rspid != null">
        RSPID = #{record.rspid,jdbcType=INTEGER},
      </if>
      <if test="record.apicode != null">
        APICODE = #{record.apicode,jdbcType=VARCHAR},
      </if>
      <if test="record.apiinfo != null">
        APIINFO = #{record.apiinfo,jdbcType=VARCHAR},
      </if>
      <if test="record.retcode != null">
        RETCODE = #{record.retcode,jdbcType=VARCHAR},
      </if>
      <if test="record.rspinfo != null">
        RSPINFO = #{record.rspinfo,jdbcType=VARCHAR},
      </if>
      <if test="record.chnltype != null">
        CHNLTYPE = #{record.chnltype,jdbcType=VARCHAR},
      </if>
      <if test="record.chnlrspcode != null">
        CHNLRSPCODE = #{record.chnlrspcode,jdbcType=VARCHAR},
      </if>
      <if test="record.reason != null">
        REASON = #{record.reason,jdbcType=VARCHAR},
      </if>
      <if test="record.notes != null">
        NOTES = #{record.notes,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_rspmsg
    set RSPID = #{record.rspid,jdbcType=INTEGER},
      APICODE = #{record.apicode,jdbcType=VARCHAR},
      APIINFO = #{record.apiinfo,jdbcType=VARCHAR},
      RETCODE = #{record.retcode,jdbcType=VARCHAR},
      RSPINFO = #{record.rspinfo,jdbcType=VARCHAR},
      CHNLTYPE = #{record.chnltype,jdbcType=VARCHAR},
      CHNLRSPCODE = #{record.chnlrspcode,jdbcType=VARCHAR},
      REASON = #{record.reason,jdbcType=VARCHAR},
      NOTES = #{record.notes,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.unionpay.withhold.admin.pojo.TRspmsg">
    update t_rspmsg
    <set>
      <if test="apicode != null">
        APICODE = #{apicode,jdbcType=VARCHAR},
      </if>
      <if test="apiinfo != null">
        APIINFO = #{apiinfo,jdbcType=VARCHAR},
      </if>
      <if test="retcode != null">
        RETCODE = #{retcode,jdbcType=VARCHAR},
      </if>
      <if test="rspinfo != null">
        RSPINFO = #{rspinfo,jdbcType=VARCHAR},
      </if>
      <if test="chnltype != null">
        CHNLTYPE = #{chnltype,jdbcType=VARCHAR},
      </if>
      <if test="chnlrspcode != null">
        CHNLRSPCODE = #{chnlrspcode,jdbcType=VARCHAR},
      </if>
      <if test="reason != null">
        REASON = #{reason,jdbcType=VARCHAR},
      </if>
      <if test="notes != null">
        NOTES = #{notes,jdbcType=VARCHAR},
      </if>
    </set>
    where RSPID = #{rspid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.unionpay.withhold.admin.pojo.TRspmsg">
    update t_rspmsg
    set APICODE = #{apicode,jdbcType=VARCHAR},
      APIINFO = #{apiinfo,jdbcType=VARCHAR},
      RETCODE = #{retcode,jdbcType=VARCHAR},
      RSPINFO = #{rspinfo,jdbcType=VARCHAR},
      CHNLTYPE = #{chnltype,jdbcType=VARCHAR},
      CHNLRSPCODE = #{chnlrspcode,jdbcType=VARCHAR},
      REASON = #{reason,jdbcType=VARCHAR},
      NOTES = #{notes,jdbcType=VARCHAR}
    where RSPID = #{rspid,jdbcType=INTEGER}
  </update>
  
 
</mapper>