<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.unionpay.withhold.admin.mapper.TSettProcessMapper" >
  <resultMap id="BaseResultMap" type="com.unionpay.withhold.admin.pojo.TSettProcess" >
    <id column="TID" property="tid" jdbcType="INTEGER" />
    <result column="INSTIID" property="instiid" jdbcType="VARCHAR" />
    <result column="STAGE" property="stage" jdbcType="VARCHAR" />
    <result column="STAGE_DESC" property="stageDesc" jdbcType="VARCHAR" />
    <result column="SPEED" property="speed" jdbcType="DECIMAL" />
    <result column="STATUS" property="status" jdbcType="VARCHAR" />
    <result column="STARTTIME" property="starttime" jdbcType="VARCHAR" />
    <result column="OPTUSER" property="optuser" jdbcType="DECIMAL" />
    <result column="NOTES" property="notes" jdbcType="VARCHAR" />
    <result column="REMARKS" property="remarks" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    TID, INSTIID, STAGE, STAGE_DESC, SPEED, STATUS, STARTTIME, OPTUSER, NOTES, REMARKS
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.unionpay.withhold.admin.pojo.TSettProcessExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_sett_process
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_sett_process
    where TID = #{tid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_sett_process
    where TID = #{tid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.unionpay.withhold.admin.pojo.TSettProcessExample" >
    delete from t_sett_process
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.unionpay.withhold.admin.pojo.TSettProcess" >
    insert into t_sett_process (TID, INSTIID, STAGE, 
      STAGE_DESC, SPEED, STATUS, 
      STARTTIME, OPTUSER, NOTES, 
      REMARKS)
    values (#{tid,jdbcType=INTEGER}, #{instiid,jdbcType=VARCHAR}, #{stage,jdbcType=VARCHAR}, 
      #{stageDesc,jdbcType=VARCHAR}, #{speed,jdbcType=DECIMAL}, #{status,jdbcType=VARCHAR}, 
      #{starttime,jdbcType=VARCHAR}, #{optuser,jdbcType=DECIMAL}, #{notes,jdbcType=VARCHAR}, 
      #{remarks,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.unionpay.withhold.admin.pojo.TSettProcess" >
    insert into t_sett_process
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tid != null" >
        TID,
      </if>
      <if test="instiid != null" >
        INSTIID,
      </if>
      <if test="stage != null" >
        STAGE,
      </if>
      <if test="stageDesc != null" >
        STAGE_DESC,
      </if>
      <if test="speed != null" >
        SPEED,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="starttime != null" >
        STARTTIME,
      </if>
      <if test="optuser != null" >
        OPTUSER,
      </if>
      <if test="notes != null" >
        NOTES,
      </if>
      <if test="remarks != null" >
        REMARKS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tid != null" >
        #{tid,jdbcType=INTEGER},
      </if>
      <if test="instiid != null" >
        #{instiid,jdbcType=VARCHAR},
      </if>
      <if test="stage != null" >
        #{stage,jdbcType=VARCHAR},
      </if>
      <if test="stageDesc != null" >
        #{stageDesc,jdbcType=VARCHAR},
      </if>
      <if test="speed != null" >
        #{speed,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="starttime != null" >
        #{starttime,jdbcType=VARCHAR},
      </if>
      <if test="optuser != null" >
        #{optuser,jdbcType=DECIMAL},
      </if>
      <if test="notes != null" >
        #{notes,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.unionpay.withhold.admin.pojo.TSettProcessExample" resultType="java.lang.Integer" >
    select count(*) from t_sett_process
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_sett_process
    <set >
      <if test="record.tid != null" >
        TID = #{record.tid,jdbcType=INTEGER},
      </if>
      <if test="record.instiid != null" >
        INSTIID = #{record.instiid,jdbcType=VARCHAR},
      </if>
      <if test="record.stage != null" >
        STAGE = #{record.stage,jdbcType=VARCHAR},
      </if>
      <if test="record.stageDesc != null" >
        STAGE_DESC = #{record.stageDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.speed != null" >
        SPEED = #{record.speed,jdbcType=DECIMAL},
      </if>
      <if test="record.status != null" >
        STATUS = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.starttime != null" >
        STARTTIME = #{record.starttime,jdbcType=VARCHAR},
      </if>
      <if test="record.optuser != null" >
        OPTUSER = #{record.optuser,jdbcType=DECIMAL},
      </if>
      <if test="record.notes != null" >
        NOTES = #{record.notes,jdbcType=VARCHAR},
      </if>
      <if test="record.remarks != null" >
        REMARKS = #{record.remarks,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_sett_process
    set TID = #{record.tid,jdbcType=INTEGER},
      INSTIID = #{record.instiid,jdbcType=VARCHAR},
      STAGE = #{record.stage,jdbcType=VARCHAR},
      STAGE_DESC = #{record.stageDesc,jdbcType=VARCHAR},
      SPEED = #{record.speed,jdbcType=DECIMAL},
      STATUS = #{record.status,jdbcType=VARCHAR},
      STARTTIME = #{record.starttime,jdbcType=VARCHAR},
      OPTUSER = #{record.optuser,jdbcType=DECIMAL},
      NOTES = #{record.notes,jdbcType=VARCHAR},
      REMARKS = #{record.remarks,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.unionpay.withhold.admin.pojo.TSettProcess" >
    update t_sett_process
    <set >
      <if test="instiid != null" >
        INSTIID = #{instiid,jdbcType=VARCHAR},
      </if>
      <if test="stage != null" >
        STAGE = #{stage,jdbcType=VARCHAR},
      </if>
      <if test="stageDesc != null" >
        STAGE_DESC = #{stageDesc,jdbcType=VARCHAR},
      </if>
      <if test="speed != null" >
        SPEED = #{speed,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
      <if test="starttime != null" >
        STARTTIME = #{starttime,jdbcType=VARCHAR},
      </if>
      <if test="optuser != null" >
        OPTUSER = #{optuser,jdbcType=DECIMAL},
      </if>
      <if test="notes != null" >
        NOTES = #{notes,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null" >
        REMARKS = #{remarks,jdbcType=VARCHAR},
      </if>
    </set>
    where TID = #{tid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.unionpay.withhold.admin.pojo.TSettProcess" >
    update t_sett_process
    set INSTIID = #{instiid,jdbcType=VARCHAR},
      STAGE = #{stage,jdbcType=VARCHAR},
      STAGE_DESC = #{stageDesc,jdbcType=VARCHAR},
      SPEED = #{speed,jdbcType=DECIMAL},
      STATUS = #{status,jdbcType=VARCHAR},
      STARTTIME = #{starttime,jdbcType=VARCHAR},
      OPTUSER = #{optuser,jdbcType=DECIMAL},
      NOTES = #{notes,jdbcType=VARCHAR},
      REMARKS = #{remarks,jdbcType=VARCHAR}
    where TID = #{tid,jdbcType=INTEGER}
  </update>
</mapper>