<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.unionpay.withhold.admin.mapper.TSpeFeeMapper" >
  <resultMap id="BaseResultMap" type="com.unionpay.withhold.admin.pojo.TSpeFee" >
    <result column="TID" property="tid" jdbcType="CHAR" />
    <result column="RATE_ID" property="rateId" jdbcType="CHAR" />
    <result column="RATE_DESC" property="rateDesc" jdbcType="CHAR" />
    <result column="NOTES" property="notes" jdbcType="CHAR" />
    <result column="REMARKS" property="remarks" jdbcType="CHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    TID, RATE_ID, RATE_DESC, NOTES, REMARKS
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.unionpay.withhold.admin.pojo.TSpeFeeExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_spe_fee
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.unionpay.withhold.admin.pojo.TSpeFeeExample" >
    delete from t_spe_fee
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.unionpay.withhold.admin.pojo.TSpeFee" >
    insert into t_spe_fee (TID, RATE_ID, RATE_DESC, 
      NOTES, REMARKS)
    values (#{tid,jdbcType=CHAR}, #{rateId,jdbcType=CHAR}, #{rateDesc,jdbcType=CHAR}, 
      #{notes,jdbcType=CHAR}, #{remarks,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.unionpay.withhold.admin.pojo.TSpeFee" >
    insert into t_spe_fee
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tid != null" >
        TID,
      </if>
      <if test="rateId != null" >
        RATE_ID,
      </if>
      <if test="rateDesc != null" >
        RATE_DESC,
      </if>
      <if test="notes != null" >
        NOTES,
      </if>
      <if test="remarks != null" >
        REMARKS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tid != null" >
        #{tid,jdbcType=CHAR},
      </if>
      <if test="rateId != null" >
        #{rateId,jdbcType=CHAR},
      </if>
      <if test="rateDesc != null" >
        #{rateDesc,jdbcType=CHAR},
      </if>
      <if test="notes != null" >
        #{notes,jdbcType=CHAR},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.unionpay.withhold.admin.pojo.TSpeFeeExample" resultType="java.lang.Integer" >
    select count(*) from t_spe_fee
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_spe_fee
    <set >
      <if test="record.tid != null" >
        TID = #{record.tid,jdbcType=CHAR},
      </if>
      <if test="record.rateId != null" >
        RATE_ID = #{record.rateId,jdbcType=CHAR},
      </if>
      <if test="record.rateDesc != null" >
        RATE_DESC = #{record.rateDesc,jdbcType=CHAR},
      </if>
      <if test="record.notes != null" >
        NOTES = #{record.notes,jdbcType=CHAR},
      </if>
      <if test="record.remarks != null" >
        REMARKS = #{record.remarks,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_spe_fee
    set TID = #{record.tid,jdbcType=CHAR},
      RATE_ID = #{record.rateId,jdbcType=CHAR},
      RATE_DESC = #{record.rateDesc,jdbcType=CHAR},
      NOTES = #{record.notes,jdbcType=CHAR},
      REMARKS = #{record.remarks,jdbcType=CHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>