<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.unionpay.withhold.admin.mapper.TWhitelistPanMapper" >
  <resultMap id="BaseResultMap" type="com.unionpay.withhold.admin.bean.TWhitelistPan" >
    <id column="T_ID" property="tId" jdbcType="DECIMAL" />
    <result column="CASEID" property="caseid" jdbcType="DECIMAL" />
    <result column="PAN" property="pan" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="VARCHAR" />
    <result column="NOTES" property="notes" jdbcType="VARCHAR" />
    <result column="REMARKS" property="remarks" jdbcType="VARCHAR" />
    <result column="RISKLEVEL" property="risklevel" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    T_ID, CASEID, PAN, STATUS, NOTES, REMARKS, RISKLEVEL
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.unionpay.withhold.admin.bean.TWhitelistPanExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_whitelist_pan
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_whitelist_pan
    where T_ID = #{tId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_whitelist_pan
    where T_ID = #{tId,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="com.unionpay.withhold.admin.bean.TWhitelistPanExample" >
    delete from t_whitelist_pan
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.unionpay.withhold.admin.bean.TWhitelistPan" >
    insert into t_whitelist_pan (T_ID, CASEID, PAN, 
      STATUS, NOTES, REMARKS, 
      RISKLEVEL)
    values (#{tId,jdbcType=DECIMAL}, #{caseid,jdbcType=DECIMAL}, #{pan,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR}, #{notes,jdbcType=VARCHAR}, #{remarks,jdbcType=VARCHAR}, 
      #{risklevel,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.unionpay.withhold.admin.bean.TWhitelistPan" >
    insert into t_whitelist_pan
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tId != null" >
        T_ID,
      </if>
      <if test="caseid != null" >
        CASEID,
      </if>
      <if test="pan != null" >
        PAN,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="notes != null" >
        NOTES,
      </if>
      <if test="remarks != null" >
        REMARKS,
      </if>
      <if test="risklevel != null" >
        RISKLEVEL,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tId != null" >
        #{tId,jdbcType=DECIMAL},
      </if>
      <if test="caseid != null" >
        #{caseid,jdbcType=DECIMAL},
      </if>
      <if test="pan != null" >
        #{pan,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="notes != null" >
        #{notes,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="risklevel != null" >
        #{risklevel,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.unionpay.withhold.admin.bean.TWhitelistPanExample" resultType="java.lang.Integer" >
    select count(*) from t_whitelist_pan
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_whitelist_pan
    <set >
      <if test="record.tId != null" >
        T_ID = #{record.tId,jdbcType=DECIMAL},
      </if>
      <if test="record.caseid != null" >
        CASEID = #{record.caseid,jdbcType=DECIMAL},
      </if>
      <if test="record.pan != null" >
        PAN = #{record.pan,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        STATUS = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.notes != null" >
        NOTES = #{record.notes,jdbcType=VARCHAR},
      </if>
      <if test="record.remarks != null" >
        REMARKS = #{record.remarks,jdbcType=VARCHAR},
      </if>
      <if test="record.risklevel != null" >
        RISKLEVEL = #{record.risklevel,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_whitelist_pan
    set T_ID = #{record.tId,jdbcType=DECIMAL},
      CASEID = #{record.caseid,jdbcType=DECIMAL},
      PAN = #{record.pan,jdbcType=VARCHAR},
      STATUS = #{record.status,jdbcType=VARCHAR},
      NOTES = #{record.notes,jdbcType=VARCHAR},
      REMARKS = #{record.remarks,jdbcType=VARCHAR},
      RISKLEVEL = #{record.risklevel,jdbcType=DECIMAL}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.unionpay.withhold.admin.bean.TWhitelistPan" >
    update t_whitelist_pan
    <set >
      <if test="caseid != null" >
        CASEID = #{caseid,jdbcType=DECIMAL},
      </if>
      <if test="pan != null" >
        PAN = #{pan,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
      <if test="notes != null" >
        NOTES = #{notes,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null" >
        REMARKS = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="risklevel != null" >
        RISKLEVEL = #{risklevel,jdbcType=DECIMAL},
      </if>
    </set>
    where T_ID = #{tId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.unionpay.withhold.admin.bean.TWhitelistPan" >
    update t_whitelist_pan
    set CASEID = #{caseid,jdbcType=DECIMAL},
      PAN = #{pan,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=VARCHAR},
      NOTES = #{notes,jdbcType=VARCHAR},
      REMARKS = #{remarks,jdbcType=VARCHAR},
      RISKLEVEL = #{risklevel,jdbcType=DECIMAL}
    where T_ID = #{tId,jdbcType=DECIMAL}
  </update>
</mapper>