*.class
*/.*
*/.settings/*
*/target/*
*/.settings/
*/.project

/.settings/
/.project

/admin/.settings/
/admin/target/
/admin/.classpath
/admin/.project

/api/.settings/
/api/target/
/api/.classpath
/api/.project

/common/.settings/
/common/target/
/common/.classpath
/common/.project

/path-api/.settings/
/path-api/target/
/path-api/.classpath
/path-api/.project

/path-cp/.settings/
/path-cp/target/
/path-cp/.classpath
/path-cp/.project

/trade/.settings/
/trade/target/
/trade/.classpath
/trade/.project

/trade-api/.settings/
/trade-api/target/
/trade-api/.classpath
/trade-api/.project
