<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:jee="http://www.springframework.org/schema/jee"
	xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">
	<!--启用注解 -->
	<context:annotation-config />
	<context:component-scan base-package="com.unionpay.withhold.admin" />

	
	<!-- 引入属性文件Hibernate属性配置 -->
	<!-- <context:property-placeholder location="classpath:*.properties" /> -->
	<!-- 加载配置文件 -->
	<!-- <context:property-placeholder location="classpath:resource/*.properties" /> -->

	<!-- 引入属性文件Hibernate属性配置 -->
	<!-- <context:property-placeholder location="classpath:*.properties" /> -->


	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
			  <value>classpath:database.properties</value>  
              <value>classpath:redis.properties</value>
              <value>classpath:trade.properties</value>
              <value>classpath:ftp.properties</value>
			</list>
		</property>
	</bean>

	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="maxUploadSize" value="104857600" />
		<property name="maxInMemorySize" value="4096" />
		<property name="defaultEncoding" value="UTF-8"></property>
	</bean>
	<bean id="logHelper" class="com.unionpay.withhold.utils.LogHelper" />
	<aop:config>
		<aop:aspect ref="logHelper">
			<aop:pointcut id="pointcut"
				expression="execution(* com.unionpay.withhold..*.*(..))" />
			<aop:before method="before" pointcut-ref="pointcut" />
			<aop:after method="after" pointcut-ref="pointcut" />
			<aop:around method="around" pointcut-ref="pointcut" />
			<aop:after-throwing method="throwException"
				pointcut-ref="pointcut" throwing="ex" />
		</aop:aspect>
	</aop:config>

	<import resource="spring-mybatis.xml" />

	<import resource="applicationContext-jedis.xml"/> 
	<import resource="classpath:/spring-trade-api.xml"/>
	<!-- <import resource="SqlMapConfig.xml"/> -->

</beans>
